<section class="blog">
   <div class="heading">
       <h1>blog</h1>
       <p class="signature">Sincerely yours, Lanars</p>
       <div class="search">
           <input type="text" placeholder="Search">
       </div>
   </div>
   <div class="selector__thumb latest">
       <ul class="selector clearfix">
           <li class="selector__item active" number="0" section="latest">
               <p>Latest</p>
           </li>
           <li class="selector__item" number="1" section="tech">
               <p>Tech</p>
           </li>
           <li class="selector__item" number="2" section="design">
               <p>Design</p>
           </li>
           <li class="selector__item" number="3" section="marketing">
               <p>Marketing</p>
           </li>
       </ul>
    </div>
    <section class="latest_articles">
        <div class="latest_articles__item">
            <div class="article__photo">
                <img src="/blog/assets/img/picture.jpg" alt="photo">
            </div>
            <div class="article__date">20 Apr 2017</div>
            <div class="article__name">How to write excellent articles?</div>
            <div class="article__link"><a href="">Read it<span>&#8594;</span></a></div>
        </div>
        <div class="latest_articles__item">
            <div class="article__photo">
                <img src="/blog/assets/img/picture.jpg" alt="photo">
            </div>
            <div class="article__date">20 Apr 2017</div>
            <div class="article__name">How to write excellent articles?</div>
            <div class="article__link"><a href="">Read it<span>&#8594;</span></a></div>
        </div>
        <div class="latest_articles__item">
            <div class="article__photo">
                <img src="/blog/assets/img/picture.jpg" alt="photo">
            </div>
            <div class="article__date">20 Apr 2017</div>
            <div class="article__name">How to write excellent articles?</div>
            <div class="article__link"><a href="">Read it<span>&#8594;</span></a></div>
        </div>
    </section>
</section>