body {
    background-color: gainsboro;
}
.wrapper{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: 0 36px;
    height: 1064px;
    margin: 0 auto;
    width: 1215px;
}
.header {
    background-image: url(../img/header_background.png);
    background-repeat: no-repeat;
    height: 36px;
    padding-left: 456px;
}
.first_menu {
    float: left;
}
.first_menu>ul>li {
    float: left;
}
.header a {
    box-sizing: border-box;
    color: #60b5ed;
    display: block;
    font-family: "Helvetica";
    font-size: 14px;
    height: 36px;
    padding: 10px 12px;
    text-decoration: none;
}
.first_menu>ul>li>a:hover {
    background-color: #4eabda;
    color: #ffffff;
}
.border {
    float:left;
    background-image: url(../img/border_1px.png);
    background-position: 0px 2px;
    background-repeat: no-repeat;
    height: 36px;
    width: 1px;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
.ofertas {
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    background-position: 19px 6px;
    float: left;
    width: 160px;
}
.ofertas a {
    color: #ffffff;
    padding-left: 50px;
}
.ola {
    float: left;
}
.ola a{
    padding-left: 14px;
}
.active a>span,
.ola a:hover>span {
    text-decoration: underline;
}
.header>.active a,
.header>.ola>a:hover {
    background-image: url(../img/background_ola.png);
    color: #feffff;
}
.main_form {
    margin-top: 207px;
}
.cadastra {
    background-color: rgba(0,0,0,0.63);
    margin: 0 auto;
    padding: 20px 0px 15px 0px;
    text-align: center;
    width: 560px;
}
.cadastra p {
    color: #ffffff;
    font-family: "Helvetica";
    font-size: 24px; 
}
.form {
    background-color: rgba(0,0,0,0.63);
    margin: 2px auto 0 auto;
    width: 560px;
}
.facebook {
    padding-top: 36px;
}
.facebook a {
    background: rgba(61,87,148,1);
    background: -webkit-linear-gradient(rgba(61,87,148,1) 0%, rgba(45,65,118,1) 100%);
    background: -o-linear-gradient(rgba(61,87,148,1) 0%, rgba(45,65,118,1) 100%);
    background: linear-gradient(rgba(61,87,148,1) 0%, rgba(45,65,118,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d5794', endColorstr='#2d4176', GradientType=0 );
    border-radius: 5px;
    border-bottom: 1px solid #334164;
    border-left: 1px solid #3e5287;
    border-right: 1px solid #364973;
    border-top: 1px solid #778ab5;
    box-sizing: border-box;
    display: block;
    height: 35px;
    margin: 0 auto;
    text-decoration: none;
    width: 276px;
}
.facebook a span {
    color: white;
    display: block;
    float: left;
    font-family: "Klavika";
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-top: -1px;
    vertical-align: middle;
}
.facebook a span.bold {
    font-weight: bold;
}
.facebook a span.f {
    border-right: 1px solid #213c71;
    box-sizing: border-box;
    font-size: 28px;
    text-align: center;
    width: 37px;
}
.facebook a span.log {
    border-left: 1px solid #4e69ac;
    padding-left: 32px;
    padding-right: 5px;
}
.facebook a span.normal {
    padding-right: 5px;
}
.lines {
    height: 44px;
    margin: 0 auto;
    padding-top: 29px;
    width: 276px;
}
.line-top {
    border-bottom: 1px solid #666666;
    box-sizing: border-box;
    height: 7px;
    width: 123px;
    float: left; 
}
.line-bottom {
    border-top: 1px solid #000000;
    box-sizing: border-box;
    float: left;
    height: 7px;
    width: 123px;
}
.line-black {
    height: 7px;
    width: 123px;
    border-bottom: 1px solid black;
}
.lines>p {
    color: #999999;
    display: block;
    float: left;
    height: 14px;
    font-family: "Helvetica";
    font-size: 14px;
    text-align: center;
    width: 30px;
}
.datas {
    padding-bottom: 20px;
    text-align: center;
}
.datas input {
    background-image: url(../img/form.png);
    border: none;
    border-bottom: 1px solid #474747;
    box-shadow: 0px 0px 2px 0px rgba(75,75,75,1);
    color: #fffbfb;
    font-family: "Helvetica";
    font-size: 14px;
    height: 35px;
    padding-left: 17px;
    width: 276px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(75,75,75,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(75,75,75,1);
    -moz-placeholder:
}
.datas input:focus[type="text"],
.datas input:focus[type="password"],
.datas input:focus[type="email"] {
    background-image: url(../img/active.png);
    border-bottom: 1px solid transparent;
    box-shadow: 0px 0px 7px 0px rgba(47,123,197,1);
    color: #fffbfb;
    font-family: "Helvetica";
    font-size: 14px;
    height: 35px;
    width: 276px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(47,123,197,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(47,123,197,1);
}
.datas .checkbox input[type="checkbox"] {
    display: none;
}
input[type="submit"] {
    background: rgba(81,176,220,1);
    background: -webkit-linear-gradient(rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
    background: -o-linear-gradient(rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
    background: linear-gradient(rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e79c4', GradientType=0 );
    border: none;
    border-top: 1px solid #54b5de;
    border-radius: 5px;
    color: #ffffff;
    cursor: hand;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    padding: 0;
    width: 149px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(66,153,210,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(66,153,210,1);
    box-shadow: 0px 0px 2px 0px rgba(66,153,210,1);
}
.checkbox input[type="checkbox"]:checked,
.datas .submit input:focus {
    outline: none;
    width: 149px;
}
form .acknowl {
    padding-bottom: 16px;
}
form .acknowl p {
    color: #cccccc;
    font-family: "Helvetica";
    font-size: 11px;
    padding-bottom: 2px;
    text-align: center;   
}
.checkbox label {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 276px;
}
.checkbox label p {
    font-family: "Helvetica";
    font-size: 14px;
    color: #cccccc;
    display: inline;
}
.checkbox label:before {
    background-image: url(../img/checkbox.png);
    content: "";
    display: inline-block;
    height: 13px;
    margin-left: 1px;
    margin-right: 2px;
    width: 13px;
}
.checkbox input[type="checkbox"]:checked + label:before {
    background-image: url(../img/checkbox.png);
    background-position: -13px 0;
    background-repeat: no-repeat;
    display: inline-block;
}