<section class="download">
   <div class="heading">Загрузите приложение</div>
    <div class="download_button_container">
        <div class="download_button_container__item">
           <div class="image">
              <div class="android">
                  <a href=""></a>
              </div>   
           </div> 
        </div>
        <div class="download_button_container__item">
           <div class="image">
              <div class="iphone">
                  <a href=""></a>
              </div>   
           </div> 
        </div>
    </div>
</section>