<footer id="contacts">
    <div class="footer_container">
        <div class="contacts_container">
           <div class="heading">контакты</div>
            <ul class="contacts">
                <li>
                    <a href="tel:+380952056888">
                        <div class="image tel"></div>
                        <p>095-20-56-888</p>
                    </a>
                </li>
                <li>
                    <a href="tel:+380730103888">
                        <div class="image tel"></div>
                        <p>073-01-03-888</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/uberinodessa/" target="_blank">
                        <div class="image image_insta"></div>
                        <p>UBERIN Instagram</p>
                    </a>
                </li>
<!--
                <li>
                    <a href="https://www.google.ru/maps/place/%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82+%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%B0,+10%2F9,+%D0%9E%D0%B4%D0%B5%D1%81%D0%B0,+%D0%9E%D0%B4%D0%B5%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0/@46.452234,30.7514353,17z/data=!3m1!4b1!4m5!3m4!1s0x40c633dd8f7641d9:0xe29307d8890d3aa!8m2!3d46.452234!4d30.753624" target="_blank">
                        <div class="image image_geotag"></div>
                        <p>Украина, Одесса, просп. Шевченко, 10/9, 1 этаж, офис 12.</p>
                    </a>
                </li>
-->
                <li>
                    <a href="mailto:info@uberin.kh.ua">
                        <div class="image image_mail"></div>
                        <p>info@uberin.kh.ua</p>
                    </a>
                </li>
                <li>
                    <p>Консультация и подключение 24/7</p>
                </li>
                <li>
                    <p class="city_select">Доступны к подключению:</p>
                    <select name="town_selector" id="city_select">
                        <option value="town_odessa">Одесса</option>
                        <option value="town_dnepr">Днепр</option>
                        <option value="town_kharkov">Харьков</option>
                        <option value="town_zaporozhye">Запорожье</option>
                    </select>
                </li>
<!--
                <li class="socials">
                    <div class="socials__item"><a href=""></a></div>
                    <div class="socials__item"><a href=""></a></div>
                    <div class="socials__item"><a href=""></a></div>
                </li>
-->
            </ul>
        </div>
        <div class="queue_form">
            <div class="heading">напишите нам</div>
            <form action="">
                <input id="name" type="text" required placeholder="Имя и фамилия">
                <input type="email" required placeholder="Адрес электронной почты">
                <input type="tel" required placeholder="Номер телефона">
                <input type="text" placeholder="Марка и возраст авто">
                <textarea name="" placeholder="Дополнительная информация" id="" cols="30" rows="10"></textarea>
                <div class="button_container">
                    <div class="button_gold button">
                        <a href="">отправить</a>
                    </div>
                </div>  
            </form>
        </div>
    </div>
</footer>