<header>
    <div class="minified">
        <div class="logo_button">UBER</div>
        <div class="menu_button"></div>
    </div>
    <div class="maxified">
        <ul>
            <li><a href="#top">главная</a></li>
            <li><a href="#about">uber</a></li>
            <li><a href="#advantages">преимущества</a></li>
            <li><a href="#registration">условия</a></li>
            <li><a href="#terms">требования</a></li>
            <li><a href="#contacts">контакты</a></li>
        </ul>
    </div>
</header>
<div class="header_plug"></div>