<section class="our_advantages">
    <div class="heading">наши преимущества</div>
    <div class="advantages_container">
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
    </div>
</section>