<section class="promo">
   <div class="button_container">
       <div class="button_gold button">
           <a href="">самостоятельная регистрация в uber</a>
        </div>
   </div>
    <div class="heading">ЗАРЕГИСТРИРОВАТЬСЯ И РАБОТАТЬ ВОДИТЕЛЕМ UBER В ОДЕССЕ</div>
    <p><span>Убер</span> - это авбсолютная инновация в сфере пассажирских перевозок которая развиваеться во всем мире. Пользуясь приложением Убер пассажиры испытывают исключительный комфорт, а водители имеют достойный заработок. Убер в Одессе как и в других больших городах всего мира уверенно набирает популярность и характерен высоким уровнем развития.</p>
    <p><span>Uber</span> - простое и доступное каждому приложение для смартфона, с его помощью пассажиры могут связываться с водителями, готовыми принять заказ. Убер был основан в 2009 году, и с того времени десятки тысяч водителей стали зарабатывать с Убер, а количество пользователей поражает своими масштабами, их число превышает десятки миллионов человек которые ежедневно активно используют сервис. Все желающие могут начать работу в сервисе буквально сразу же после регистрации и проверки необходимых документов.</p>
    <div class="button_container">
       <div class="button_white button">
           <a href="">стать партнером</a>
        </div>
   </div>
</section>