<section id="about" class="promo">
<!--
   <div class="button_container">
       <div class="button_gold button">
           <a href="">самостоятельная регистрация в uber</a>
        </div>
   </div>
-->
    <div class="heading">ЧТО ТАКОЕ UBER?</div>
    
    <p><span>UBER</span> - это приложение для смартфона, используя которое, можно найти находящееся рядом с Вами авто для передвижения по городу. Если же Вы водитель - приложение поможет найти людей для частного подвоза за деньги. Основанная в 2009 году, компания UBER сегодня помогает десяткам тысяч людей по всему миру получать прибыль, используя свой личный автомобиль. Сервис уже охватывает более 450 городов на планете. Работа водителем никогда ещё не была такой удобной и прибыльной. UBER можно сравнить с социальной сетью, так как он соединяет водителей и находящихся рядом пассажиров. Каждый пользователь имеет возможность просмотреть профиль водителя и поставить ему оценку за поездку и комментарий. Водитель же может быть уверен, что клиентами будут только продвинутые и порядочные люди, а оплату он получит даже в случае отказа клиента от поездки.</p>
    <div class="heading">КАК ЭТО РАБОТАЕТ?</div>
    <div class="flex_container_1">
        <div class="uber_1">
            <img src="assets/img/uber_promo_1.jpg" alt="uber-service-odessa">
        </div>
        <p>Приложение UBER выполняет функцию коммуникатора, навигатора и всегда под рукой. Оно соединяет клиентов которым нужно совершить поездку в пределах города и водителей которые находяться рядом. Для того чтобы воспользоваться сервисом, пассажиру нужно просто загрузить приложение на свой смартфон, и вызвать автомобиль. Координаты пассажира и водителя вычисляются автоматически и демонстрируются на карте в приложении. Дальше пассажир осуществляет лишь выбор класса автомобиля: UberSELECT (представительский класс авто) или UberX (машины комфорт-класса). Стоимость поездки приложение рассчитывает полностью автоматически, и пассажир изначально понимает сколько будет стоить его поездка. Средства автоматически спишутся со счета клиента после того, как поездка будет завершена.</p>
    </div>
    <div class="heading">ЕСЛИ ВЫ ВОДИТЕЛЬ!</div>
    <div class="flex_container_2">
        <div class="uber_2">
            <img src="assets/img/uber_promo_2.jpg" alt="uber-service-odessa">
        </div>
        <p>Если вы владеете автомобилем премиум или комфорт-класса, вы гражданин Украины и ваш стаж вождения больше 1 года - вы можете стать водителем UBER! После проверки Ваших документов, а также подтверждения того, что Ваш автомобиль соответствует всем требованиям, Вы сможете сразу же работать в системе UBER. Каждый водитель полоностью свободен в выборе графика работы, но нужно учитывать, что количество отработанного времени напрямую влияет на итоговый заработок. Безусловно, Вы можете использовать UBER только как дополнительный заработок, однако вскоре Вы поймете, что выгоднее сделать его своей основной работой и увеличить свою прибыль.</p>
    </div>
<!--
    <div class="button_container">
       <div class="button_white button">
           <a href="#registration">стать водителем UBER</a>
        </div>
   </div>
-->
</section>