<section id="about" class="queue">
   <div class="heading">ЗАПОЛНИТЕ АНКЕТУ ПРЯМО СЕЙЧАС!</div>
    <div class="queue_container">
        <form action="">
            <input id="name" type="text" required placeholder="Имя и фамилия">
            <input type="email" required placeholder="Адрес электронной почты">
            <input type="tel" required placeholder="Номер телефона">
            <input type="text" placeholder="Марка и возраст авто">
            <input type="text" placeholder="Город">
            <textarea name="" placeholder="Дополнительная информация" id="" cols="30" rows="10"></textarea>
            <div class="button_container">
                <div class="button_gold button">
                    <a href="">отправить</a>
                </div>
            </div>  
        </form>
    </div>
</section>