<section id="terms" class="requirements">
    <div class="heading">Требования и условия работы в uber</div>
    <p>Водитель с личным или арендованным автомобилем и страховым полисом. Гражданин Украины. Минимальный стаж вождения 3 года. Возраст от 21 года. Опрятный внешний вид. Иметь культуру вождения и общения с пассажирами.</p>
    <div class="heading">Требования <span>UberX</span></div>
    <p>Марка автомобиля: Например: Hyundai Solaris, Ford Focus, Volkswagen Polo, Skoda Octavia, Kia Rio, Toyota Corolla – или аналогичные марки. Автомобиль должен быть чистым и опрятным, без сильных царапин и вмятин на кузове. В автомобиле должен быть исправный кондиционер и ремни безопасности.</p>
    <div class="heading">Требования <span>UberSELECT</span></div>
    <p>Автомобиль иномарка: не старше 2006 года, Марка автомобиля: Toyota Camry, Hyundai Sonata, Skoda Superb – или аналогичные марки. Автомобиль должен быть чистым и опрятным, без царапин и вмятин на кузове. В автомобиле должен быть исправный кондиционер и ремни безопасности.</p>
    <div class="heading">Необходимые документы:</div>
    <ul>
        <li>
            <p>Водительское удостоверение</p>
        </li>
        <li>
            <p>Паспорт</p>
        </li>
        <li>
            <p>Действующий полис ОСАГО</p>
        </li>
        <li>
            <p>Свидетельство о регистрации ТС</p>
        </li>
        <li>
            <p>Справка об отсутствии судимости (Выдается бесплатно, нужно предоставить в течении 3 недель)</p>
        </li>
    </ul>
    <div class="button_container">
       <div class="button_gold button">
           <a href="">полный список автомобилей</a>
        </div>
   </div>
</section>