<!DOCTYPE=html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Задание Javascript урок 14</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <script src="js/lodash.min.js"></script>
        <script src="js/script.js"></script>                     
        <script type="text/template" id="template">
            <h1>Тест по программированию</h1>
            <form>
            <% for (var i=0; i<questionsQuantity; i++) { %>
            <% var abc = 'object'+i; %>
            <% console.log(abc); %>
                <h3 class="Question <%-i+1 %>"><%= questions[i] %></h3>
                    <% for (var k=0; k<answersQuantity; k++) {%>
                        <label style="display: block;">
                            <input type="checkbox" id="question_<%-i+1 %>_<%-k+1 %>" name="question_<%-i+1 %>_<%-k+1 %>" value="question_<%-i+1 %>_<%-k+1 %>" class="question_block_<%-i+1 %>_<%-k+1 %>">
                            <p style="display: inline-block;"><%= answers[i][k] %></p>
                        </label>
                    <% } %>
                <% } %>
                <br>
                <input type="submit" id="button" value="Проверить мои результаты">
            </form>
        </script> 

        
    </body>
</html>