// Font's colors

$golden: #f4b60d;
$blue: #248cec; //Also for mask background (section "Our Services")
$gray: #434343; 
$darkgray: #333333;
$white: #ffffff;
$skygray: #2a2b2e;
$anothergray: #8a8a8a;
$textcolor: #9d9d9d; // "News section" regular text color

// Background's colors

$servicesgray: #2a2d32; // Color for "Our Services" section background; color for "Main Menu" container's background; smw in fonts
$menuborder: #181a1d; // Color for "Main Menu" borders
$inputborder: black; // Color for "Search" borders in "Main Menu" container
$inputback: #35383c; // Color for "Search" background in "Main Menu" container
$lightgray: #f7f7f7; // "News section" background
$whitegray: #e8e8e8; // Accordion panel dib border's color
$slider: #001d1d; //Slider color