<div id="air_section" class="parallax__group air">
  <div class="parallax__layer parallax__layer--backs">
    <div class="background__square">
      <div class="dot dot_1"></div>
      <div class="dot dot_2"></div>
      <div class="dot dot_3"></div>
      <div class="dot dot_4"></div>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--base">
    <div class="wrapper">
      <div class="air_container">
        <div class="air_container__right">
          <h2>Эфир</h2>
          <p>Судьбу выполненных заданий другими пользователями решаете именно вы. Используйте «Эфир», чтобы увидеть, какие задания выполняли другие пользователи и прикреплённые ими подтверждения. Если вы согласны с выполнением задания, нажимайте кнопку «Подтвердил». Если вы не согласны с тем, как пользователь выполнил задание нажимайте «Не подтвердил». Просим вас быть честными и справедливыми в своих решениях, ведь ваши задания будут подтверждаться таким же способом. В случае спорных ситуаций с заданиями, вопрос подтверждения решаем мы.</p>
          <a href="" fullText="" class="read_more">Читать больше</a>
        </div>
        <div class="air_container__left">
          <div class="phone">
            <img src="assets/img/air_big.png" alt="LaWay air">
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>