<div id="categories_section" class="parallax__group categories">
  <div class="parallax__layer parallax__layer--backs">
    <div class="background__square square_two">
      <div class="dot dot_1"></div>
        <div class="dot dot_2"></div>
        <div class="dot dot_3"></div>
        <div class="dot dot_4"></div>
      </div>
  </div>
  <div class="parallax__layer parallax__layer--base">
    <div class="wrapper">
      <div class="categories_container">
        <div class="categories_container__left">
          <div class="images_container images_container_1">
            <div class="phone moved">
              <img src="assets/img/categories.png" alt="LaWay categories">
            </div>
          </div>
          <div class="images_container images_container_2"></div>
          <div class="images_container images_container_3"></div>
          <div class="images_container images_container_4"></div>
          <div class="images_container images_container_5"></div>
        </div>
        <div class="categories_container__right">
          <h2>Категории</h2>
          <div class="thumblers">
            <div class="thumblers__item active">Двигайся</div>
            <div class="thumblers__item">Общайся</div>
            <div class="thumblers__item">Изучай</div>
            <div class="thumblers__item">Создавай</div>
            <div class="thumblers__item">Вдохновляй</div>
          </div>
          <div class="content_container">
            <div class="content__item visible">
              <p>Самая активная категория. Здесь можно бежать километры, показывать свое мастерство в танцах, садится на шпагат, кататься на различных видах транспорта, путешествовать по самым интересным местам Украины и многое другое. Начинайте свой путь с LaWay активно!</p>
              <a href="" class="watch">Смотреть видео</a>
            </div>
            <div class="content__item">
              <p>Самая социальная категория. Здесь можно бежать километры, показывать свое мастерство в танцах, садится на шпагат, кататься на различных видах транспорта, путешествовать по самым интересным местам Украины и многое другое. Начинайте свой путь с LaWay активно!</p>
              <a href="" class="watch">Смотреть видео</a>
            </div>
            <div class="content__item">
              <p>Самая обучающая категория. Здесь можно бежать километры, показывать свое мастерство в танцах, садится на шпагат, кататься на различных видах транспорта, путешествовать по самым интересным местам Украины и многое другое. Начинайте свой путь с LaWay активно!</p>
              <a href="" class="watch">Смотреть видео</a>
            </div>
            <div class="content__item">
              <p>Самая созидательная категория. Здесь можно бежать километры, показывать свое мастерство в танцах, садится на шпагат, кататься на различных видах транспорта, путешествовать по самым интересным местам Украины и многое другое. Начинайте свой путь с LaWay активно!</p>
              <a href="" class="watch">Смотреть видео</a>
            </div>
            <div class="content__item">
              <p>Самая творческая категория. Здесь можно бежать километры, показывать свое мастерство в танцах, садится на шпагат, кататься на различных видах транспорта, путешествовать по самым интересным местам Украины и многое другое. Начинайте свой путь с LaWay активно!</p>
              <a href="" class="watch">Смотреть видео</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>