<footer id="contacts_section">
  <div class="background_image">
    <div class="body_container">
      <div class="circle"></div>
      <div class="figure"></div>
      <div class="figure"></div>
    </div>
  </div>
  <div class="wrapper">
    <div class="top">
      <h3>Будь в курсе последних событий</h3>
      <div class="input_container">
        <form id="bottom_form" action="">
          <input name="bottom_email" type="email" placeholder="email">
          <div class="icons_container">
            <img class="regular icon" src="assets/img/mail_regular.svg" alt="">
            <img class="focus icon" src="assets/img/mail_focus.svg" alt="">
            <img class="error icon" src="assets/img/mail_error.svg" alt="">
          </div>
          <a href="" class="submit_button">Отправить</a>
        </form>
        <div class="empty_message">
          <div class="message_body">
            Заполните это поле!
          </div>
        </div>
      </div>
      <figure class="background">
        
      </figure>
    </div>
    <div class="middle">
      <div class="column column_first">
        <div class="logo_small">
          <img src="assets/img/laway_logo.svg" alt="LAWAY">
        </div>
      </div>
      <div class="column column_second">
        <div class="heading">Разделы</div>
        <div class="body">
          <ul>
            <li><a class="section_selector" href="#categories_section">Категории</a></li>
            <li><a class="section_selector" href="#tasks_section">Задания</a></li>
            <li><a class="section_selector" href="#honours_section">Награды</a></li>
            <li><a class="section_selector" href="#rating_section">Рейтинг</a></li>
            <li><a class="section_selector" href="#air_section">Эфир</a></li>
            <li><a class="section_selector" href="#partners_section">Партнерам</a></li>
          </ul>
        </div>
      </div>
      <div class="column column_third">
        <div class="heading">Контакты</div>
        <div class="body">
          <ul>
            <li>
              <a href="mailto:lawaylaway@gmail.com">lawaylaway@gmail.com</a>
            </li>
            <li>
              <a href="tel:+380930332463">+ 38 093 033 24 63</a>
            </li>
            <li>
              <a href="tel:+380930332463">+ 38 093 033 24 63</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column column_fourth">
        <div class="heading">Следуйте за нами</div>
        <div class="body">
          <ul>
            <li>
              <a href="">
                <img src="assets/img/fb.svg" alt="Facebook">
              </a>
            </li>
            <li>
              <a href="">
                <img src="assets/img/telegram.svg" alt="Telegram">
              </a>
            </li>
            <li>
              <a href="">
                <img src="assets/img/google.svg" alt="Google+">
              </a>
            </li>
            <li>
              <a href="">
                <img src="assets/img/youtube.svg" alt="Youtube">
              </a>
            </li>
            <li>
              <a href="">
                <img src="assets/img/instagram.svg" alt="Instagram">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom">
      © 2018 Все права защищены.
    </div>
  </div>
</footer>