<section class="header_buttons">
  <div class="wrapper">
    <div class="share_button">
      <img src="assets/img/share_icon.svg" alt="Поделиться">
      <div class="animation_share_container">
        <div class="share_container">
          <div class="share_container__body">
            <p>Поделиться</p>
            <div class="share_buttons">
              <div class="share_link_container">
                <a class="facebook" href="">
                  <span>facebook</span>
                  <span class="img_container">
                    <img src="assets/img/facebook_share.svg" alt="facebook">
                  </span>
                </a>
              </div>
              <div class="share_link_container">
                <a class="telegram" href="">
                  <span>telegram</span>
                  <span class="img_container">
                    <img src="assets/img/telegram_share.svg" alt="telegram">
                  </span>
                </a>
              </div>
              <div class="share_link_container">
                <a class="google" href="">
                  <span>google +</span>
                  <span class="img_container">
                    <img src="assets/img/google_plus_share.svg" alt="google_plus">
                  </span>
                </a>
              </div>
              <div class="share_link_container">
                <a class="youtube" href="">
                  <span>youtube</span>
                  <span class="img_container">
                    <img src="assets/img/youtube_share.svg" alt="youtube">
                  </span>
                </a>
              </div>
              <div class="share_link_container">
                <a class="instagram" href="">
                  <span>instagram</span>
                  <span class="img_container">
                    <img src="assets/img/instagram_share.svg" alt="instagram">
                  </span>
                </a>
              </div>
              <div class="share_link_container">
                <a class="mail" href="">
                  <span>e-mail</span>
                  <span class="img_container">
                    <img src="assets/img/email_share.svg" alt="email">
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile_menu_opener">
      <img src="assets/img/menu.svg" alt="Menu">
    </div>
  </div>
</section>