<div id="honours_section" class="parallax__group honours">
  <div class="parallax__layer parallax__layer--backs">
    <div class="figure">
      <div class="figure_background">
        <div class="figure_inside"></div>
        <div class="figure_inside"></div>
        <div class="figure_inside"></div>
      </div>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--base">
    <div class="wrapper">
      <div class="honours_container">
        <div class="honours_container__right">
          <h2>Награды</h2>
          <p>За выполнение каждого задания вам начисляется определенное количество балов в соответствие с уровнем сложности выбранного задания. Кроме баллов, вы получаете уникальный для каждого задания бейдж, который будет отображаться на странице вашего профиля.Так каждый сможет увидеть сколько и какие задания были выполнены вами. Баллы и бейджи присваиваются вам только после подтверждения вашего задания другими пользователями.</p>
          <a href="" class="read_more">Читать больше</a>
        </div>
        <div class="honours_container__left">
          <div class="phone">
            <img src="assets/img/honours.png" alt="LaWay honours">
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>