<section class="mobile_menu">
  <div class="wrapper">
    <a class="laway_link" href="">
      <img src="assets/img/laway_logo.svg" alt="LaWay">
    </a>
    <div class="menu_section">
      <ul class="main_menu">
        <li><a class="section_selector" href="#categories_section">Категории</a></li>
        <li><a class="section_selector" href="#tasks_section">Задания</a></li>
        <li><a class="section_selector" href="#honours_section">Награды</a></li>
        <li><a class="section_selector" href="#rating_section">Рейтинг</a></li>
        <li><a class="section_selector" href="#air_section">Эфир</a></li>
        <li><a class="section_selector" href="#partners_section">Партнерам</a></li>
      </ul>
      <div class="contacts_section">
        <a class="section_selector" href="#contacts_section">Контакты</a>
        <div class="contacts">
          <a href="mailto:lawaylaway@gmail.com">lawaylaway@gmail.com</a>
          <a href="tel:+380930332463">+38 093 033 24 63</a>
          <ul class="social_links">
            <li>
                <a href="">
                  <img src="assets/img/fb.svg" alt="Facebook">
                </a>
              </li>
            <li>
              <a href="">
                <img src="assets/img/telegram.svg" alt="Telegram">
              </a>
            </li>
            <li>
              <a href="">
                <img src="assets/img/google.svg" alt="Google+">
              </a>
            </li>
            <li>
              <a href="">
                <img src="assets/img/youtube.svg" alt="Youtube">
              </a>
            </li>
            <li>
              <a href="">
                <img src="assets/img/instagram.svg" alt="Instagram">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="figure_right"></div>
  </div>
  <div class="mobile_circle"></div>
  <div class="mobile_square"></div>
  <div class="mobile_square"></div>
  <div class="mobile_square filled"></div>
  <div class="back_figure"></div>
</section>