<div id="partners_section" class="parallax__group partners">
  <div class="parallax__layer parallax__layer--backs">
    <div class="background__square">
      <div class="dot dot_1"></div>
      <div class="dot dot_2"></div>
      <div class="dot dot_3"></div>
      <div class="dot dot_4"></div>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--base">
    <div class="wrapper">
      <div class="partners_container">
        <div class="partners_container__left">
          <h2>Партнерам</h2>
          <p>Мы приглашаем компании присоединится к нашей платформе и добавлять свои брендовые заданияв LaWay. Для получения детальной информации и коммерческого предложения, свяжитесь с нами.</p>
          <a href="" class="contact">Связатся с нами</a>
        </div>
        <div class="partners_container__right">
          <div class="phone">
            <img src="assets/img/partners.png" alt="LaWay air">
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>