<div id="rating_section" class="parallax__group rating">
  <div class="parallax__layer parallax__layer--base">
    <div class="wrapper">
      <div class="rating_container">
        <div class="rating_container__left">
          <h2>Рейтинг</h2>
          <p>От количества выполненных вами заданий и полученных баллов зависит ваш рейтинг среди других пользователей. Чем выше ваш рейтинг, тем вы ближе к тому, чтобы оказаться в списке самых активных пользователей LaWay.</p>
        </div>
        <div class="rating_container__right">
          <div class="phone">
            <img src="assets/img/rating.png" alt="Rating LAWAY">
          </div>
        </div>
      </div>
    </div>    
  </div>
  <div class="parallax__layer parallax__layer--backs">
    <div class="circle_container">
      <div class="dot_container">
        <div class="dot"></div>
      </div>
      <div class="dot_container dot_container_blue">
        <div class="dot"></div>
      </div>
      <div class="dot_container dot_container_cyan">
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>