<div class="section_slider">
  <section class="slider_container">
    <div class="slider_container__item">
      <div class="content">
        <img src="assets/img/achieve_create.svg" alt="LaWay create">
        <p>Награда<br>Создавай</p>
      </div>
    </div>
    <div class="slider_container__item">
      <div class="content">
        <img src="assets/img/achieve_inspire.svg" alt="LaWay inspire">
        <p>Награда<br>Вдохновляй</p>
      </div>
    </div>
    <div class="slider_container__item">
      <div class="content">
        <img src="assets/img/achieve_move.svg" alt="LaWay move">
        <p>Награда<br>Двигайся</p>
      </div>
    </div>
    <div class="slider_container__item">
      <div class="content">
        <img src="assets/img/achieve_inspire.svg" alt="LaWay care">
        <p>Награда<br>Заботься</p>
      </div>
    </div>
    <div class="slider_container__item">
      <div class="content">
        <img src="assets/img/achieve_art.svg" alt="LaWay art">
        <p>Награда<br>Искусство</p>
      </div>
    </div>
  </section>
  <div class="slider_background">
<!--    <img src="assets/img/slider_background.png" alt="">-->
  </div>
</div>