<div class="parallax__group top-section">
  <div class="parallax__layer parallax__layer--backs">
    <div class="figure">
      <div class="figure_inside">
      </div>
      <div class="figure_inside">
      </div>
      <div class="figure_inside">
      </div>
      <img src="assets/img/background.jpg" alt="LaWay">
    </div>
  </div>
  <div class="parallax__layer parallax__layer--base">
    <div class="wrapper">
      <img class="top_logo" src="assets/img/laway_logo.svg" alt="">
      <div class="top-section_container">
        <div class="top-section_container__left">
          <h1>Стань<br> первым, кто воспользуется LaWay</h1>
          <p>Первая социальная платформа о ценности времени, ярких эмоциях, жизни в реально мире. О вызовах и достижениях, о людях и заботе, общении и поступках. LaWay о тебе. Присоединяйся.</p>
          <p class="moto">Введите свою почту и получите инвайт первыми!</p>
          <div class="input_container">
            <form id="top_form" action="">
              <input name="top_email" type="email" placeholder="email">
              <div class="icons_container">
                <img class="regular icon" src="assets/img/mail_regular.svg" alt="">
                <img class="focus icon" src="assets/img/mail_focus.svg" alt="">
                <img class="error icon" src="assets/img/mail_error.svg" alt="">
              </div>
              <a href="" class="submit_button">Отправить</a>
            </form>
            <div class="empty_message">
              <div class="message_body">
                Заполните это поле!
              </div>
            </div>
          </div>
        </div>
        <div class="top-section_container__right">
          <div class="phone">
            <img src="assets/img/main_phone.png" alt="LaWay">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>