<footer>
    <div class="wrapper2 clearfix">
        <a href="#" class="main">URLAUBSGLÜCK</a>
        <ul class="footer__list clearfix">
            <li class="footer__list__item">Company</li>
            <li class="footer__list__item"><a href="">About</a></li>
            <li class="footer__list__item"><a href="">Contacts</a></li>
            <li class="footer__list__item"><a href="">Press</a></li>
            <li class="footer__list__item"><a href="">Blog</a></li>
        </ul>
        <ul class="footer__list">
            <li class="footer__list__item">Partners</li>
        </ul>
        <div class="designed">
            <p class="designed__header">DESIGNED BY</p>
            <a href="" class="designed__link"></a>
        </div>
    </div>
</footer>