<footer>
    <div class="wrapper2 clearfix">
        <a href="#" class="main">URLAUBSGLÜCK</a>
        <ul class="footer_list">
            <li class="footer_list_item">Company</li>
            <li class="footer_list_item"><a href="">About</a></li>
            <li class="footer_list_item"><a href="">Contacts</a></li>
            <li class="footer_list_item"><a href="">Press</a></li>
            <li class="footer_list_item"><a href="">Blog</a></li>
        </ul>
        <ul class="footer_list">
            <li class="footer_list_item">Partners</li>
        </ul>
        <div class="designed">
            <p class="designed_header">DESIGNED BY</p>
            <a href="" class="designed_link"></a>
        </div>
    </div>
</footer>