<header>
    <div class="wrapper">
        <div class="authorization clearfix">
           <div class="authorization__item--signup clearfix">
                <a href="" class="signup">Sign up</a>
                <a href="" class="login">Log In</a>
           </div>
           <a href="#" class="authorization__item--main">URLAUBSGLÜCK</a>
        </div>
        <div class="promo">
            <h1 class="promo_title">SHARE YOUR HOLIDAY DREAMS</h1>
            <p class="promo_text">And find the perfect partner to fullfill it</p>
            <a href="#" class="promo_link">Find your holiday partner</a>
        </div>
    </div>
</header>