<section class="partners">
    <h3 class="partners_title">Meet a partner for your best holiday</h3>
    <ul class="partners-list clearfix">
        <li class="partners-item">
           <div class="partners-item_photo">
               <div class="partners-item_photo_icon"></div>   
           </div>
           <a href="#" class="partners-item_name">Bradley Hunter</a>
            <p class="partners-item_quote">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
        <li class="partners-item">
           <div class="partners-item_photo">
               <div class="partners-item_photo_icon"></div>   
           </div>
           <a href="#" class="partners-item_name">Heather Walker</a>
            <p class="partners-item_quote">I'm a happy person that loves cats and climbing on mountains.</p>
        </li>
        <li class="partners-item">
           <div class="partners-item_photo">
               <div class="partners-item_photo_icon"></div>   
           </div>
           <a href="#" class="partners-item_name">Lucas Marsha</a>
            <p class="partners-item_quote">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
        </li>
        <li class="partners-item">
           <div class="partners-item_photo">
               <div class="partners-item_photo_icon"></div>   
           </div>
           <a href="#" class="partners-item_name">Bradley Hunter</a>
            <p class="partners-item_quote">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
    </ul>
    <a href="#" class="partners_link">See other partners</a>
</section>