<section class="partners">
    <h3 class="partners__title">Meet a partner for your best holiday</h3>
    <ul class="partners-list clearfix">
        <li class="partners__item">
           <div class="partners__item__photo">
               <div class="partners__item__photo__icon"></div>   
           </div>
           <a href="#" class="partners__item__name">Bradley Hunter</a>
            <p class="partners__item__quote">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
        <li class="partners__item second-partner-ie8">
           <div class="partners__item__photo">
               <div class="partners__item__photo__icon"></div>   
           </div>
           <a href="#" class="partners__item__name">Heather Walker</a>
            <p class="partners__item__quote">I'm a happy person that loves cats and climbing on mountains.</p>
        </li>
        <li class="partners__item third-partner-ie8">
           <div class="partners__item__photo">
               <div class="partners__item__photo__icon"></div>   
           </div>
           <a href="#" class="partners__item__name">Lucas Marsha</a>
            <p class="partners__item__quote">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
        </li>
        <li class="partners__item fourth-partner-ie8">
           <div class="partners__item__photo">
               <div class="partners__item__photo__icon"></div>   
           </div>
           <a href="#" class="partners__item__name">Bradley Hunter</a>
            <p class="partners__item__quote">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
    </ul>
    <ul class="partners-list hidden-list clearfix">
        <li class="partners__item">
           <div class="partners__item__photo">
               <div class="partners__item__photo__icon"></div>   
           </div>
           <a href="#" class="partners__item__name">Bradley Hunter</a>
            <p class="partners__item__quote">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
        <li class="partners__item second-partner-ie8">
           <div class="partners__item__photo">
               <div class="partners__item__photo__icon"></div>   
           </div>
           <a href="#" class="partners__item__name">Heather Walker</a>
            <p class="partners__item__quote">I'm a happy person that loves cats and climbing on mountains.</p>
        </li>
        <li class="partners__item third-partner-ie8">
           <div class="partners__item__photo">
               <div class="partners__item__photo__icon"></div>   
           </div>
           <a href="#" class="partners__item__name">Lucas Marsha</a>
            <p class="partners__item__quote">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
        </li>
        <li class="partners__item fourth-partner-ie8">
           <div class="partners__item__photo">
               <div class="partners__item__photo__icon"></div>   
           </div>
           <a href="#" class="partners__item__name">Bradley Hunter</a>
            <p class="partners__item__quote">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
    </ul>
    <a href="#" class="partners__link">See other partners</a>
</section>