.jcarousel {
    overflow: hidden;
    position: relative;
    width: 640px;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}
.jcarousel-pagination {;
    position: absolute;
    bottom: 15px;
    left: 300px;
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 17px;
    min-width: 22px;
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    margin-right: 5px;
    opacity: .75;
}
.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
.jcarousel-prev, .jcarousel-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}
.jcarousel-next {
    right: -50px;
}
.jcarousel-prev {
    left: -50px;
}
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    width: 660px;
    height: 380px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}
.wrapper_for_select {
    margin: 20px auto;
    width: 660px;
}
.checkbox_css_wrapper label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../img/yellow.png) no-repeat;
    background-position: 0 0;
    border: none;
    cursor: pointer;
}
.checkbox_css_wrapper label:hover:before {
    background-position: -24 0;
}
.checkbox_css_wrapper input[type=checkbox]:checked + label:before {
    background-position: -48 0;
}
.checkbox_css_wrapper input[type=checkbox]:disabled + label:before {
    background-position: -72 0;
}
.checkbox_css_wrapper input[type=checkbox]:disabled:checked + label:before {
    background-position: -96 0;
}
#number1,
#number2,
#number3 {
    display: none;
}
.main_menu a,
.main_menu2 a {
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    padding: 0 12px;
    margin: 0 12px;
}
.main_menu,
.main_menu2 {
    background-color: rgb(255,100,100);
    padding: 10px 0;
    
}
.main_menu>li,
.main_menu2>li {
    float: left;
}
.dropdown_menu,
.sub_dropdown_menu,
.sub_sub_dropdown_menu,
.dropdown_menu2,
.sub_dropdown_menu2,
.sub_sub_dropdown_menu2 {
    background-color: rgb(255,100,100);
    position: absolute;
    left: 20px;
    top: 40px;
    width: 200px;    
}
.sub_dropdown_menu2,
.sub_sub_dropdown_menu2,
.sub_dropdown_menu,
.sub_sub_dropdown_menu {
    top: 0;
    left: 200px;
}
.dropdown_menu2 li a,
.dropdown_menu li a {
    border-bottom: solid 1px rgb(200,50,50);
    margin: 0 10px;
    padding: 0;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
.dropdown_menu,
.sub_dropdown_menu,
.sub_sub_dropdown_menu {
    display: none;
    z-index: 3;
}
.main_menu2>li:nth-child(3),
.main_menu>li:nth-child(3) {
    position: relative;
}
.main_menu2>li:nth-child(3)>a,
.main_menu>li:nth-child(3)>a {
    background-image: url('../img/arrow-down.png');
    background-position: right 20px;
    background-repeat: no-repeat;
}
/*
.dropdown_menu>li:nth-child(4):hover>.sub_dropdown_menu,
.sub_dropdown_menu>li:nth-child(2):hover>.sub_sub_dropdown_menu,
.main_menu>li:nth-child(3):hover>.dropdown_menu {
    display: block;  
}
*/
.dropdown_menu2>li:nth-child(4),
.dropdown_menu>li:nth-child(4) {
    position: relative;
}
.dropdown_menu2>li:nth-child(4)>a,
.sub_dropdown_menu2>li:nth-child(2)>a,
.dropdown_menu>li:nth-child(4)>a,
.sub_dropdown_menu>li:nth-child(2)>a {
    background-image: url('../img/arrow-right.png');
    background-position: right 16px;
    background-repeat: no-repeat;
}
.sub_dropdown_menu>li:nth-child(2),
.sub_dropdown_menu2>li:nth-child(2) {
    position: relative;
}
.main_menu2 a:hover,
.main_menu2 a:focus,
.main_menu2 a:active,
.main_menu a:hover,
.main_menu a:focus,
.main_menu a:active {
    color:rgb(50,50,50);
}
.native {
    font-size: 18;
    padding-left: 600px;
    color: black;
    box-sizing: border-box;
    padding-top: 8px;
}
.dropdown_menu2 {
    z-index: 2;
    height: 0px;
    overflow: hidden;
}
.sub_dropdown_menu2,
.sub_sub_dropdown_menu2 {
    overflow: hidden;
    z-index: 4;
    height: 0px;
}
