<section class="download">
   <div class="heading">Загрузите приложение</div>
    <div class="download_button_container">
        <div class="download_button_container__item">
           <div class="image">
              <div class="android">
                  <a href="https://play.google.com/store/apps/details?id=com.ubercab.driver&hl=ru" target="_blank"></a>
              </div>   
           </div> 
        </div>
        <div class="download_button_container__item">
           <div class="image">
              <div class="iphone">
                  <a href="https://itunes.apple.com/us/app/uber-driver/id1131342792?mt=8" target="_blank"></a>
              </div>   
           </div> 
        </div>
    </div>
</section>