<section class="faq" id="questions">
    <div class="heading">Популярные вопросы</div>
    <div class="questions_container">
        <div class="question">
            <div class="question_header"><p>Кто может работать водителем в сервисе Убер?</p></div>
            <div class="question_body"><p>Граждане Украины и иностранцы(с правами международного образца), как мужчины так и женщины, с минимальным стажем вождения от 1 года.</p></div>
        </div>
        <div class="question">
            <div class="question_header"><p>Сколько стоит подключение к Убер?</p></div>
            <div class="question_body"><p>Подключение абсолютно бесплатное! Вам необходимо отправить нам фото некоторых документов и ожидать, пока наши менеджеры с вами свяжутся.</p></div>
        </div>
        <div class="question">
            <div class="question_header"><p>Нужно ли проходить отдельное обучение?</div>
            <div class="question_body"><p>Для начала работы водителем Убер в Запорожье нужно пройти лишь разовый инструктаж, который займет не более 20 минут. После него Вы сразу сможете начать работу.</p></div>
        </div>
        <div class="question">
            <div class="question_header"><p>Какое устройство подходит для работы с приложением?</p></div>
            <div class="question_body"><p>Любой смартфон или планшет с операционной системой Андроид (4.0 и выше). Также можно использовать Iphone или Ipad.</p></div>
        </div>
        <div class="question">
            <div class="question_header"><p>Как рассчитывается стоимость поездки?</p></div>
            <div class="question_body"><p>Все расчеты автоматически проводит приложение, и Вы сможете отследить все заработанные деньги.</p></div>
        </div>
        <div class="question">
            <div class="question_header"><p>Какой график работы?</p></div>
            <div class="question_body"><p>Ваш график зависит полностью от вашего желания и возможности работать. Вы выходите на линию в удобное Вам время.</p></div>
        </div>
<!--
        <div class="question">
            <div class="question_header"><p>Кто может работать водителем в сервисе Убер?</p></div>
            <div class="question_body"><p>Только гражданин Украины, как мужчина так и женщина, с минимальным стажем вождения 3 года.</p></div>
        </div>
        <div class="question">
            <div class="question_header"><p>Кто может работать водителем в сервисе Убер?</p></div>
            <div class="question_body"><p>Только гражданин Украины, как мужчина так и женщина, с минимальным стажем вождения 3 года.</p></div>
        </div>
        <div class="question">
            <div class="question_header"><p>Кто может работать водителем в сервисе Убер?</p></div>
            <div class="question_body"><p>Только гражданин Украины, как мужчина так и женщина, с минимальным стажем вождения 3 года.</p></div>
        </div>
-->
    </div>
</section>