<section id="terms" class="requirements">
    <div class="heading">Требования и условия работы в uber</div>
    <p>Водителем Убер в Запорожье может стать любой человек с личным или арендованным автомобилем и страховым полисом. Гражданин Украины или иностранец с международными водительскими правами. Минимальный стаж вождения от 1 года. Возраст от 19 лет. Водитетель Убер в Запорожье - это всегда опрятный внешний вид, тоброжелательность, высокая культура вождения и общения с пассажирами</p>
    <div class="heading">Требования <span>UberX</span></div>
    <p>Марка автомобиля: Например: Hyundai Solaris, Ford Focus, Volkswagen Polo, Skoda Octavia, Kia Rio, Toyota Corolla – или аналогичные марки. Автомобиль должен быть чистым и опрятным, без сильных царапин и вмятин на кузове. В автомобиле должен быть исправный кондиционер и ремни безопасности.</p>
    <div class="heading">Требования <span>UberSELECT</span></div>
    <p>Автомобиль иномарка: не старше 2006 года, Марка автомобиля: Toyota Camry, Hyundai Sonata, Skoda Superb – или аналогичные марки. Автомобиль должен быть чистым и опрятным, без царапин и вмятин на кузове. В автомобиле должен быть исправный кондиционер и ремни безопасности.</p>
    <div class="heading" id="required_documents">Необходимые документы:</div>
    <ul>
        <li>
            <p>Водительское удостоверение</p>
        </li>
        <li>
            <p>Паспорт</p>
        </li>
        <li>
            <p>Действующий полис ОСАГО</p>
        </li>
        <li>
            <p>Свидетельство о регистрации ТС</p>
        </li>
<!--
        <li>
            <p>Справка об отсутствии судимости (выдается бесплатно, необходимо предоставить в течении 30 дней)</p>
        </li>
-->
    </ul>
    <div class="button_container">
       <div class="button_gold button">
           <a href="https://docs.google.com/spreadsheets/d/1lpli1L8a6bkY1Xrcur88vfpau3H3tDwmPYH8m4kHs5s/edit#gid=0" target="_blank">полный список автомобилей</a>
        </div>
   </div>
</section>