@import "fonts.css";
@import "iphone.css";
@import "devices.css";
@import "slick.css";

/*First screen (slider styles) */

.maincontent .first_screen {
    height: calc(100vh - 54px);
    box-sizing: border-box;
    position: relative;
/*    border-top: 1px solid transparent;*/
}
.first_screen .slider {
    height: 100%;
}

.first_screen h3 {
    color: rgba(255, 255, 255, 1);
    font-family: 'sf_ui_displaysemibold';
    font-size: 43px;
    letter-spacing: 0.0302em;
    text-align: center;
    margin-top: 185px;
}

.first_screen p {
    color: rgba(255, 255, 255, .72);
    font-family: 'sf_ui_displaylight';
    font-size: 24px;
    text-align: center;
    line-height: 48px;
}
.slider_item_container {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.first_screen .progress_bar {
    background: rgba(255, 248, 240, 1);
    height: 11px;
    position: absolute;
    top: 0;
    z-index: 10;
}
.slide1 {
    background-image: url(../img/banking%20.png)
}
.slide2 {
    background-image: url(../img/medicine.png)
}
.slide3 {
    background-image: url(../img/education.png)
}
.slide4 {
    background-image: url(../img/sport.png)
}
.slide5 {
    background-image: url(../img/eCommerce.png)
}
.first_screen_prev,
.first_screen_next {
    display: block;
    position: absolute;
    height: 46px;
    width: 42px;
    top: 346px;
    background-color: rgba(0, 0, 0, 0.25);
}
.first_screen_prev:before,
.first_screen_next:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.first_screen_prev:hover,
.first_screen_next:hover {
    width: 92px;
    cursor: pointer;
}
.first_screen_prev:hover span.pagination_left,
.first_screen_next:hover span.pagination_right {
    display: inline-block;
    font-family: 'sf_ui_displaylight';
    font-size: 14px;
    margin-top: 4px;
    vertical-align: middle;
}
.first_screen_prev:hover span.pagination_left {
    margin-left: 30px;
}
.first_screen_next:hover span.pagination_right {
    margin-right: 30px;
}
.first_screen_prev span.arrow {
    display: inline-block;
    background-image: url(../img/assets/arrow_left.png);
    background-size: cover;
    height: 15px;
    margin-left: 17px;
    width: 8px;
    vertical-align: middle;
}
.first_screen_prev span.pagination_left,
.first_screen_next span.pagination_right {
    color: rgba(255, 255, 255, 1);
    display: none;
    vertical-align: middle;
}
.first_screen_next span.arrow {
    display: inline-block;
    background-image: url(../img/assets/arrow_right.png);
    background-size: cover;
    height: 15px;
    margin-right: 17px;
    width: 8px;
    vertical-align: middle;
}
.first_screen_prev {
    left: 0px;
    z-index: 1;
    border-radius: 0px 4px 4px 0px;
}
.first_screen_next {
    right: 0px;
    border-radius: 4px 0px 0px 4px;
    text-align: right;
}













header {
    height: 54px;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
.main_menu {
    background-color: white;
    width: 950px;
    margin: 0 auto;
}
h4 {
    color: rgba(61, 66, 72, 1);
    font-family: 'sf_ui_displaysemibold';
    font-size: 32px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 100%;
}
.main_menu__item {
    float: left;
}
.main_menu .logo a{
    width: 121px;
    background-image: url(../img/assets/lanars_logo.png);
    background-size: cover;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    margin-right: 41px;
}
.main_menu__item a {
    display: block;
    cursor: pointer;
    height: 100%;
    font-size: 16px;
    color: rgba(75, 81, 91, 1);
    padding: 17px 41px;
    text-decoration: none;
    font-family: 'sf_ui_displaylight';
}
.main_menu__item a:hover {
    color: rgba(75, 81, 91, .4);
}
.maincontent {
    background-color: grey;
    height: calc(100% - 54px);
    box-sizing: border-box;
}
.maincontent .second_screen {
    background: rgba(255, 249, 241, 1);
    height: 100vh;
    position: relative;
}
.maincontent .second_screen .transform_area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}


.maincontent .second_screen:before {
    content:'';
	height: 100%;
	display: inline-block;
    vertical-align: middle;
}
.maincontent .first_screen a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 43px;
    margin-top: 184px;
}
.maincontent p {
    color: rgba(255, 255, 255, .72);
    font-size: 24px;
    text-align: center;
}

/* Third screen */

.third_screen {
    position: relative;
    height: 100vh;
}
.third_screen h4 {
    color: rgba(255, 255, 255, 1);
    z-index: 10;
}
.third_screen h6 {
    color: rgba(255, 255, 255, 1);
    font-family: 'sf_ui_displayregular';
    position: absolute;
    text-align: center;
    top: 83px;
    width: 100%;
    z-index: 10;
}
.devices-container {
    position: relative;
    height: 100%;
    background: #1f608d;
}

/* Fourth screen */

.fourth_screen {
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-top: 1px solid transparent;
    height: 100vh;
    position: relative;
}
.clients_container {
    margin: 107px auto;
    width: 60%;
    padding: 43px 23px;   
}
.clients_container__client {
    box-sizing: border-box;
    border: 2px solid grey;
    height: 66px;
    width: 146px;
    background: #999a99;
    float: left;
}
.clients_container__client a {
    display: block;
    height: 100%;
}


/*FOOTER*/

footer {
    background: #f4f4f4;
    font-family: 'PT Sans', sans-serif;
    height: 450px;
}
footer h5 {
    color: #333;
}
footer h5:after {
    color: #666;
    content: "";
    display: block;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 10px;
    margin-bottom: 15px;
}
.column {
    float: left;
    margin-right: 20px;
}
footer h6 {
    color: #333;
    font-size: 16px;
    padding: 5px 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
footer .column a {
    color: #666;
    cursor: pointer;
    display: block;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    padding: 3px 0;
    text-decoration: none;
}
footer .column a:hover {
    color: #333;
    text-decoration: underline;
}
.footer_wrapper {
    padding-top: 30px;
    margin: 0 auto;
    width: 900px;
}
