<section>
    <div class="wrapper">
        <h2 class="grades">МАРКИ АНТРАЦИТА</h2>
        <div class="grades_container clearfix">
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade">АС-АНТРАЦИТ СЕМЕЧКА</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade">АС-АНТРАЦИТ СЕМЕЧКА</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade">АС-АНТРАЦИТ СЕМЕЧКА</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade">АС-АНТРАЦИТ СЕМЕЧКА</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade">АС-АНТРАЦИТ СЕМЕЧКА</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade">АС-АНТРАЦИТ СЕМЕЧКА</h2>
                    <button>КУПИТЬ</button>
            </div>
        </div>
    </div>
</section>