//Font colours

$white: #ffffff;
$grey: #8591b0; // placeholders
$pink: #f93b8c; // buttons background
$blue: #323c5a; // Section headers
$lightgrey: #848a9c; // Unselected categories
$maingrey: #989dac; // Main text in categories sections
$footergrey: #bda3e0; // Footer contacts links
$error: #fa4e58;