section.banner {
  background: rgba(255,175,75,1);
  background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
  background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
  background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
  background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );
  padding: 15px 0;
  overflow: hidden;
    h1 {
        color: white;
        font-weight: bold;
        font-size: 20px;
        animation: marqueeScroll 20s infinite ease;
        display: inline-block;
        padding-left: 105%;
        width: 415px;
  }
} 
@media all and (min-width: 480px) {
  section.banner {
    padding: 20px 0;
    h1 {
      font-size: 24px;
      animation: marqueeScroll 15s infinite linear;
    }
  }
}
@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}