<section id="section3">
    <div class="wrapper">
        <h2 class="grades">МАРКИ АНТРАЦИТА</h2>
        <div class="grades_container clearfix">
            <div class="grade">
                    <div class="image"></div>
                <h2 class="grade"><span>АШ</span>-АНТРАЦИТ ШТЫБОВОЙ</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade"><span>АС</span>-АНТРАЦИТ СЕМЕЧКО</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade"><span>АМ</span>-АНТРАЦИТ МЕЛКИЙ</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade"><span>АО</span>-АНТРАЦИТ ОРЕХ</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade"><span>АК</span>-АНТРАЦИТ КРУПНЫЙ</h2>
                    <button>КУПИТЬ</button>
            </div>
            <div class="grade">
                    <div class="image"></div>
                    <h2 class="grade"><span>АКО</span>-КРУПНЫЙ+ОРЕХ</h2>
                    <button>КУПИТЬ</button>
            </div>
        </div>
    </div>
</section>