<section id="section4">
    <div class="wrapper">
        <h2 class="terms">УСЛОВИЯ ПОСТАВКИ И ОПЛАТА</h2>
        <p>Наша компания предлагает несколько вариантов доставки:</p>
        <div class="container clearfix">
            <div class="number">01</div>
            <p>Продажа на условиях FCA ст. Красный Лиман. В этом случае Товар передается в Вашу собственность в вагоне на станции Красный Лиман. В дальнейшем Вы самостоятельно выбираете экспедитора и оплачиваете его услуги, а также железнодорожный тариф до станции назначения. Товар передается в Вашу собственность после 100% оплаты. Данные сертификата качества который издается при отправке в данном случае являются окончательными. Расчет по весу осуществляется согласно весу, указанному в железнодрожной накладнойю</p>
        </div>
        <div class="container clearfix">
            <div class="number">02</div>
            <p>Продажа на условиях FCA ст. Красный Лиман с последующей компенсацией затрат на перевозку. При данному варианте оплаты, Вы со своей стороны оплачиваете Товар в количестве 100%, указываете грузополучателя и станцию назначения товара. Мы отправляем Товар в Ваш адрес пользуясь услугами нашего экспедитора и оплачиваем железнодорожный тариф. Затем перевыставляем эти расходы на Вас и Вы со своей стороны компенсируете нам эти расходы отдельным банковским платежом. Данный способ отличается от предыдущего тем, что Вам не нужно искать экспедитора и вступать во взаимоотношения с перевозчиком. В остальном данный способ не отличается от предыдущего, и данные сертификата изданного при отправке также являются окончательными для взаиморасчетов как и вес указанный в железнодорожной накладной.</p>
        </div>
        <div class="container clearfix">
            <div class="number">03</div>
            <p>Продажа на условиях FCA ст. назначения. Воспользовавшись данным вариантом, Вы предоставляете нам станцию назначения и грузополучателя. Мы со своей стороны просчитываем свобственные расходы, закладываем их в цену Товара и предоставляем Вам цену на станции назначения. Товар передается в Вашу собственность в указанной станции назначения. Данные сертификата качества изданного при отгрузке и вес указанный в жд накладной являются базисом для взаиморасчетов. Однако, приемка Товара Вами как Грузополучателем осуществляется в соответствиями с правилами инструкций П-6 (количество) и П-7 (качество). Это означает, что если у Вас возникают сомнения в том, что данные указанные в отгрузочных документах являются правдивыми, Вы можете вызвать нашего представителя для составления акта о совместной приемке Товара. Данные о весе и качестве указанные в данном акте являются окочательными для взаиморасчетов.</p>
        </div>
        <p>Более детально условия поставки и оплаты оговариваются в контракте. Проформу типового контракта мы можем предоставить Вам по запросу.</p>
    </div>
</section>