<section class="contacts">
  <div class="wrapper">
    <h2>Contacts</h2>
    <section class="main_part">
      <div class="selector_part">
        <div class="pseudo_selector_container">
          <div class="pseudo_selector__head">
            <p>UKRAINE</p>
          </div>
          <div class="pseudo_selector__body"></div>
        </div>
        <div class="selector_part__body">
          <div class="item">
            <p>Country</p>
            <p>Address</p>
            <p>Phone</p>
            <p>Email</p>
          </div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
      <div class="form_part">
        <h4>ASK A QUESTION</h4>
        <form action="" id="contactForm">
          <input name="name" id="name" type="text" placeholder="Name">
          <input name="email" id="email" type="email" placeholder="Email">
          <textarea name="maessage" placeholder="Message" id="" cols="30" rows="10"></textarea>
          <div class="submit_area">
            <input class="submit" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </section>
    <div class="back_image">
      <img src="assets/img/lightning_logo.svg" alt="Logo BATT">
    </div>
  </div>
  <footer>BATT<span>&#169;</span></footer>
</section>