<section class="simple">
  <div class="wrapper">
    <div class="back_image">
      <img src="assets/img/lightning_logo.svg" alt="Logo BATT">
    </div>
    <div class="pseudo_selector_container">
      <div class="pseudo_selector__head">
        <p>Choose amperage</p>
      </div>
      <div class="pseudo_selector__body">
        <div class="item">6CT-60 A3</div>
        <div class="item">6CT-66 A3</div>
        <div class="item">6CT-75 A3</div>
        <div class="item">6CT-100 A3</div>
        <div class="item">6CT-140 A3</div>
        <div class="item">6CT-190 A3</div>
        <div class="item">6CT-225 A3</div>
        <div class="item">6CT-45 A JIS</div>
        <div class="item">6CT-70 A JIS</div>
        <div class="item">6CT-100 A JIS</div>
      </div>
    </div>
    <div class="info_container">
      <p>Made with precision, in Ukraine, for European auto owners.</p>
      <p>An automotive battery is a rechargeable battery that supplies electrical energy to a motor vehicle. It is also known as an SLI battery (starting-lighting-ignition) and its main purpose is to start the engine. Once the engine is running, power for the car’s electrical systems is supplied by the alternator. Typically, starting discharges less than three per cent of the battery capacity. </p>
    </div>
    <div class="simple_section_slider battery_slider">
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="../assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt simple</h3>
        <h3 class="moto">or simply the batt</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">12.1 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hint">
      <p>Swipe cards for next</p>
      <div class="arrows"></div>
    </div>
  </div>
</section>