div {
    font-size: 18px;
}
.whole-page {
    background-color: white;
    height: 803px;
    margin-left: auto;
    margin-right: auto;  
    width: 512px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.name {
    font-size: 22px;
    font-weight: bold;    
    padding-top: 53px;
    text-align: center;
}
body {
    background-color: #efefef;
}
.photo {
    background: url(../img/img-1.jpg) no-repeat;  
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 134px;
}
.desire-list {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-left: 13px;
    border-bottom: 1px solid #7b7b7b; 
}
.occupation{
    border-bottom: 1px solid #7b7b7b;
    height: 34px;  
    margin-left: auto;
    margin-right: auto;    
    padding-left: 13px;
    padding-top: 15px;
    width: 400px;
}
.desire-list p {
    padding: 28px 0px 24px 0px;
    margin: 0px;
}
.desire-list ul {
    margin: 0px;
    padding: 0px 0px 12px 2px;
    margin-left: 13px;
    width: 387px;
}
.desire-list li{
    list-style: disc;
    padding: 4px 0px;    
}
.contacts {
    border-bottom: 1px solid #7b7b7b;    
    margin-left: auto;
    margin-right: auto;     
    width: 400px;
    padding-left: 13px;
}
.my-tel{
    margin-top: 28px;
    padding-bottom: 8px;
}
.tel-number{
    margin-bottom: 37px;
}
.tel-number a {
    color: black;
    text-decoration: none;
}
.vk-profile{
    padding-bottom: 9px;    
}
.vk-ref {
    padding-bottom: 18px;
}
.feedback {
    margin-left: auto;
    margin-right: auto;  
    padding-left: 13px;
    padding-top: 28px;
    width: 400px;
}
.response {
    margin-top: 9px;
}
a {
    color: blue;
}