<!--HEADER SECTION-->

<header>
    <div class="wall_of_honour">
        <div class="wrapper">
            <input type="text" placeholder="ПОИСК (интегр из WP)">
            <p>ДЕЙСТВУЮЩИЕ ОБЛАДАТЕЛИ КУБКА СТЭНЛИ</p>
            <div class="cup1"></div>
            <div class="cup2"></div>
            <div class="cup3"></div>
            <div class="cup4"></div>
        </div>
    </div>
    <div class="blacktop">
        <div class="wrapper">
            <a href="#">PITTSBURGH PENGUINS</a>
            <div class="small_logo"><a href="#"></a></div>
        </div>
    </div>
    <div class="main_menu">
        <div class="wrapper">
            <div class="menu_button">МЕНЮ</div>
            <ul class="main_menu_itself">
                <li><a href="">Следующий матч</a></li>
                <li><a href="">Пингвинз</a></li>
                <li><a href="">НХЛ</a></li>
                <li><a href="">Видео</a></li>
                <li><a href="">Ретро четверг</a></li>
                <li><a href="">Форум</a></li>
            </ul>
        </div>
    </div>
</header>




<!--
<header>
    <div class="header__background">
      <div class="greytop">
         <div class="wrapper">
           <input type="text" placeholder="ПОИСК">
            <p>ДЕЙСТВУЮЩИЕ ОБЛАДАТЕЛИ КУБКА СТЭНЛИ</p>
            <div class="cup"></div>
            <div class="cup"></div>
            <div class="cup"></div>
            <div class="cup"></div>
         </div>
          </div>
       <div class="blacktop">PITTSBURGH PENGUINS</div>
        <ul>
           <div class="wrapper">
            <li><a href="">Следующий матч</a></li>
            <li>
                <a href="">Пингвинз</a>
                <ul class="hidden_menu">
                    <li><a href="">Новости</a></li>
                    <li><a href="">Статьи</a></li>
                    <li><a href="">История</a></li>
                    <li><a href="">Состав</a></li>
                </ul>
            </li>
            <li>
                <a href="">НХЛ</a>
                <ul class="hidden_menu">
                    <li><a href="">Новости</a></li>
                    <li><a href="">Статьи</a></li>
                </ul>
            </li>
            <li>
                <a href="">Видео</a>
                <ul class="hidden_menu">
                    <li><a href="">Обзоры матчей</a></li>
                    <li><a href="">Сборники хайлайтов</a></li>
                    <li><a href="">Фильмы о хоккее</a></li>
                </ul>
            </li>
            <li><a href="">Ретро четверг</a></li>
            <li><a href="">Форум</a></li>
           </div>
        </ul>
        <div class="logo"></div>
    </div>
</header>
<div class="slider"></div>
<aside class="next_game"></aside>
<aside class="previous_game"></aside>-->
