// Font's colors




$white: #ffffff; // Blacktop's font (header)
$black: #000000;
//$coral: #fc6744;
//$grey: #626262;
//$lagoon: #817eff;
//$pink: #f74770;
//$blue: #4eb2f7;
//$violet: #c049f8;
//$placeholder: #999999;
//$designed: #cccccc;

// Background's colors

$grey: #eee; // Wall of Honour's background (header)
$lightblack: #111; // Blacktop's background (header)



$white: #ffffff;
$headerwhite: #f5f5f5;
$yellowgold: #FFB81C;//Main Menu background (header)
//$turquoise: #1cd7ad;
//$orange: #ffa507;
//$blue: #4e73db;