body {
    font-size: 16px;
    font-size: 1rem;
}
h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.8em;
}
h5 {
    font-size: 1.6em;
}
h6 {
    font-size: 1.4em;
} 
p {
    font-family: 'Scada', sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 1140px;
    min-width: 320px;
    overflow: hidden;
}
header {
    .wall_of_honour {
        background-color: $grey;
        text-align: center;
        input {
            margin: .5rem auto;
        }
        p,
        input{
            display: inline-block;
            font-size: .8em;
        }
        p {
            padding: .5rem;
        }
        .cup1,
        .cup2,
        .cup3,
        .cup4 {
            display: none;
        }
    }
    .blacktop {
        background-color: $lightblack;
        font-weight: 800;
        position: relative;
        a {
            box-sizing: border-box;
            color: $white;
            display: block;
            font-family: 'Kanit', sans-serif;
            font-size: 2em;
            font-style: italic;
            height: 100%;
            letter-spacing: 0.02em;
            margin-left: 2em;
            padding: .5rem .8rem;
            text-decoration: none;
            text-align: right;
            width: auto;
        }
        .small_logo {
            background-image: url(../img/logo.svg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 5em;
            position: absolute;
            top: 0;
            width: 7em;
            z-index: 3;
            a {
                margin: 0;
                padding: 0;
            }
        }
    }
    .main_menu {
        background-color: $yellowgold;
        font-family: 'Scada', sans-serif;
        font-size: 1.2em;
        position: relative;
        .menu_button {
            border-bottom: 1px solid $lightblack;
            text-align: center;
            padding: .7rem;
            font-weight: 700;
        }
        .menu_button:hover,
        .menu_button:focus {
            cursor: pointer;
        }
        ul {
            background-color: $yellowgold;
            position: absolute;
            top: 42px;
            width: 100%;
            display: flex;
            flex-direction: column;
            li {
                border-bottom: 1px solid $lightblack;
                a {
                    box-sizing: border-box;
                    color: $lightblack;
                    display: block;
                    height: 100%;
                    text-decoration: none;
                    padding: .7rem .7rem .7rem .9rem;
                }
                a:active {
                    background-color: $white;
                }
            }
            li:hover,
            li:focus {
                background-color: #fff;
            }
        }
    }
}

@media screen and (min-width: 425px) {
    header {
        .blacktop {
            a {
                font-size: 2.5em;
            }
            .small_logo {
                height: 5.8em;
                width: 7.6em;
            }
        }
        .main_menu {
            .menu_button {
                padding: 1rem;
            }
            font-size: 1.5em;
            ul {
                top: 57px;
                li {
                    a {
                        padding: 1rem 1rem 1rem 1.4rem;
                    }   
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {
    header {
        .wall_of_honour {
            text-align: center;
            input {
                margin: .7rem auto;
            }
            p,
            input{
                display: inline-block;
                font-size: .9em;
            }
            p {
                padding: .7rem 0;
            }
        }
    }
}

@media screen and (min-width: 530px) {
    header {
        .blacktop {
            a {
                font-size: 3em;
                margin-left: 5em;
            }
            .small_logo {
                height: 6.7em;
                width: 8.8em;
            }
        }
        .main_menu {
            .menu_button {
                display: none;
            }
            ul {
                flex-direction: row;
                font-size: .8em;
                justify-content: center;
                position: relative;
                top: 0;
                li {
                    border-top: 2px solid transparent;
                    box-sizing: border-box;
                    border-bottom: none;
                    a {
                        padding: .8rem .6rem .9rem;
                        text-align: center;
                        
                    }   
                }
                li:hover {
                    border-top: 2px solid $lightblack;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    header {
        .wall_of_honour {
            p {
                font-size: 1em;
            }
            input{
                font-size: 1.2rem;
            }
            input {
                margin: 1rem;
            }
        }
        .blacktop {
            a {
                margin-left: 3em;
                padding: 0em;
                text-align: left;
            }
            .small_logo {
                top: -25px;
            }
        }
        .main_menu {
            ul {
                font-size: 1.3rem;
                margin-left: 6rem;
                justify-content: flex-start;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
     header {
        .wall_of_honour {
            .wrapper {
                align-items: center;
                display: flex;
                justify-content: center;
                .cup1,
                .cup2,
                .cup3,
                .cup4 {
                    display: inline-block;
                    margin: 0.1em 1em;
                    height: 100px;
                    width: 38px;
                    background-image: url(../img/cup.svg);
                    background-size: cover;
                }
            }
        }
        .blacktop {
            a {
                margin-left: 3em;
                text-align: left;
            }
            .small_logo {
                top: -25px;
            }
        }
        .main_menu {
            ul {
                font-size: 1.3rem;
                margin-left: 6rem;
                justify-content: flex-start;
            }
        }
    }
    
}


//.clearfix:after {
//    clear: both;
//    content: "";
//    display: block;
//}
//.hidden {
//    display: none;
//}
//.wrapper {
//    box-sizing: border-box;
//    margin: 0 auto;
//    max-width: 1170px; 
//}
//header {
//    position: relative;
//    .header__background {
//        background-color: $headerwhite;
//        position: relative;
//        z-index: 1;
//        .greytop {
//            background-color: #eee;
//            padding: 5px;
//            font-family: 'Scada', sans-serif;
//            text-align: center;
//            .wrapper {
//                display: flex;
//                justify-content: flex-end;
//                align-items: center;
//                input {
//                    margin-right: auto;
//                    padding: 1px;
//                    padding-left: 3px;
//                    margin-left: 70px;
//                    font-size: 1.1em;
//                    font-weight: 400;
//                    font-family: 'Scada', sans-serif;
//                }
//                
//            }
//            p {
//                display: inline-block;
//                margin: 0 10px;
//                font-size: 1.1em;
//                font-weight: 400;
//            }
//            .cup {
//                margin: 0 10px;
//                display: inline-block;
//                height: 70px;
//                width: 27px;
//                background-image: url(../img/cup.svg);
//                background-size: cover;
//            }
//        }
//        .blacktop {
//            color: #fff;
//            font-family: 'Kanit', sans-serif;
//            font-weight: 800;
//            font-style: italic;
//            font-size: 2.5em;
//            height: 45px;
//            background-color: #111;
//            padding-left: 370px;
//            letter-spacing: 0.04em;
//        }
//        ul {
//            background-color: #FFB81C;
//            .wrapper    {
//                display: flex;
//                justify-content: center;
//            height: 40px;
//            }
//            li {
//                position: relative;
//                padding: 0 1em;
//                box-sizing: border-box;
//                border-top: 2px solid transparent;
//                a {
//                    color: #111;
//                    display: block;
//                    font-size: 1.3em;
//                    font-family: 'Scada', sans-serif;
////                    font-family: 'Rubik', sans-serif;
////                    font-family: 'Cuprum', sans-serif;
//                    font-weight: 400;
//                    padding: 0.4em;
//                    text-decoration: none;
//                }
//                .hidden_menu {
//                    display: none;
//                    position: absolute;
//                    left: 0;
//                    top: 40px;
//                }
//            }
//            li:hover {
//                border-top: 2px solid #111;
//                background-color: white;
//                .hidden_menu {
//                    display: block;
//                    flex-direction: column;
//                    justify-content: flex-start;
//                    background-color: white;
//                    li {
//                        border-top: none;
//                        a:hover {
//                            text-decoration: underline;
//                        }
//                    }
//                }
//            }
//        }
//        .logo {
//            background-image: url(../img/logo.svg);
//            background-repeat: no-repeat;
//            background-size: cover;
//            height: 74px;
//            width: 110px;
//            position: absolute;
//            top: 57px;
//            left: 260px;
//        }
//    }
//}