<section class="banner">
  <h1>
    <span class="static">Подключаем в</span> 
    <span class="dynamic">
      <ul>
        <li><a target="_blank" href="http://uberin.od.ua/">Одессе</a></li>
        <li><a target="_blank" href="http://uberin.kh.ua/">Харькове</a></li>
        <li><a target="_blank"  href="http://uberin.dp.ua/">Днепре</a></li>
        <li><a target="_blank"  href="http://uberin.zp.ua/">Запорожье</a></li>
        <li><a target="_blank"  href="http://uberin.od.ua/">Одессе</a></li>
       </ul>
    </span>
  </h1>
</section>