<section class="easy">
    <div class="heading">Стать водителем Uber очень просто!</div>
    <div class="easy_container">
        <div class="easy_container__item">
            <div class="easy_container__item__image">
                <div class="form"></div>
            </div>
            <div class="easy_container__item__heading">Анкета</div>
            <p>Заполните краткую анкету и отправьте нам.</p>
            <div class="button_container">
                <div class="button_gold button">
                    <a href="#registration">заполнить анкету</a>
                </div>
            </div>
        </div>
        <div class="easy_container__item">
            <div class="easy_container__item__image">
                <div class="mail"></div>
            </div>
            <div class="easy_container__item__heading">Почта</div>
            <p>Отправьте сканированные копии своих документов или их фото на <a class="mail_link" href="mailto:info@uberin.dp.ua">наш адрес электронной почты</a>.</p>
            <div class="button_container">
                <div class="button_gold button">
                    <a href="#required_documents">список документов</a>
                </div>
            </div>
        </div>
        <div class="easy_container__item">
            <div class="easy_container__item__image">
                <div class="meeting"></div>
            </div>
            <div class="easy_container__item__heading">Встреча</div>
            <p>Вам необходимо приехать в наш офис и пройти краткий инструктаж, после которого вы будете готовы к работе!</p>
            <div class="button_container">
                <div class="button_gold button">
                    <a href="#address">посмотреть карту</a>
                </div>
            </div>
        </div>
    </div>
</section>