<header>
    <div class="minified">
        <div class="logo_button">
            <p class='uber'>UBERIN</p>
            <p class='odessa'>Kharkov</p>
        </div>
        <div class="menu_button">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="maxified">
        <ul>
            <li><a href="#top">главная</a></li>
            <li><a href="#about">uber</a></li>
            <li><a href="#advantages">преимущества</a></li>
            <li><a href="#terms">требования</a></li>
            <li><a href="#required_documents">условия</a></li>
            <li><a href="#contacts">контакты</a></li>
        </ul>
    </div>
</header>
<div class="header_plug"></div>