<section class="our_advantages" id="advantages">
    <div class="heading">наши преимущества</div>
    <div class="advantages_container">
        <div class="advanages_container__item">
            <div class="advanages_container__item__image">
                <div class="image percent"></div>
            </div>
            <div class="advanages_container__item__heading">низкая комиссия</div>
            <p>Одна из самых низких комиссий работы с партнером на рынке! Комиссия составляет всего 8%. Еженедельно оплата автоматически перечисляется на ваш счёт.</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image">
                <div class="image registration"></div>
            </div>
            <div class="advanages_container__item__heading">быстрая регистрация</div>
            <p>После всех необходимых документов, проверка и регистрация водителя занимает всего несколько часов!</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image">
                <div class="image time"></div>
            </div>
            <div class="advanages_container__item__heading">свободный график</div>
            <p>Работайте, когда и как Вам удобно, даже после или до основной работы. С UBER вы сами себе начальник!</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image">
                <div class="image cashless"></div>
            </div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента.</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image">
                <div class="image fuel"></div>
            </div>
            <div class="advanages_container__item__heading">скидки на топливо</div>
            <p>Эксклюзивные скидки на топливо от 1 грн/л до 3 грн/л для наших водителей (газ, бензин, дизтопливо)</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image uniqa_container">
                <div class="image uniqa"></div>
            </div>
            <div class="advanages_container__item__heading">Скидки на страховые услуги от австрийского партнера</div>
            <p> - на полис ОСАГО до 20%</p>
            <p> - на полис КАСКО до 10%</p>
        </div>
<!--
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
        <div class="advanages_container__item">
            <div class="advanages_container__item__image"></div>
            <div class="advanages_container__item__heading">безналичная оплата</div>
            <p>Никаких заморочек с наличными -  приложение автоматически снимает деньги со счета клиента</p>
        </div>
-->
    </div>
</section>