<div class="first_screen">
  <div class="first_screen__background">
    <img src="https://github.com/MarkovEvgeni/MarkovEvgeni.github.io/blob/master/Adam%20Landing/build/assets/img/batman-image.jpg?raw=true" alt="">
    <div class="first_screen__background__mask"></div>
  </div>
  <div class="first_screen__mask"></div>
  <div class="first_screen__glow">
    
  </div>
  <div class="first_screen__gif_container">
<!--    <img src="/assets/img/Recommend.gif" alt="">-->
  </div>
</div>
<div class="second_screen">
  <div class="second_screen__gif_container">
  </div>
</div>
