.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
.wrapper_background {
    height: 1px;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: 'Lato', sans-serif;
    background: rgba(195,221,253,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(195,221,253,1)), color-stop(100%, rgba(119,150,223,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    background: radial-gradient(ellipse at center, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3ddfd', endColorstr='#7796df', GradientType=1 ); 
    width: 100%;
}
.wrapper {
    border: 1px dashed orange;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    max-width: 880px;
    position: relative;
    z-index: 2;
}
.login {
    box-sizing: border-box;
    height: 21.25%;
    min-height: 170px;
}
.padd {
    height: 6.5%;
}
.punchline_container {
    box-sizing: border-box;
    background-color: rgba(120, 153, 214, .18);
    height: 55px;
    margin: 0 10px;
    padding-top: 11px;
    transform: skewX(-22.5deg);
    
}
.punchline {
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-align: center;
    transform: skewX(22.5deg);
}
.login_container {
    padding-right: 15px;
}
.login_container .logo {
    color: white;
    float: left;
    font-size: 18px;
    font-weight: 900;
    padding-top: 11px;
}
.btns_container {
    float: right;
}
.button {
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    float: right;
    font-size: 18px;
    height: 41px;
    margin: 0 11px;
    padding-top: 11px;
    text-align: center;
    width: 128px;
}
.button:hover,
.button:active {
    cursor: pointer
}
.sign_up {
    background-color: rgba(255, 255, 255, .16);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(89,116,167,1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(89,116,167,1);
    box-shadow: 0px 2px 4px 0px rgba(89,116,167,1);
}
.sign_up:hover {
    background-color: rgba(255, 255, 255, .26);
}
.sign_up:active {
    background-color: rgba(255, 255, 255, .36);
}
.sign_in {
    background-color: rgba(22, 26, 74, .16);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(63,86,146,1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(63,86,146,1);
    box-shadow: 0px 2px 4px 0px rgba(63,86,146,1);
}
.sign_in:hover {
    background-color: rgba(22, 26, 74, .26);
}
.sign_in:active {
    background-color: rgba(22, 26, 74, .36);
}
.spacing {
    height: 21.2%;
    min-height: 36px;
}
.main_content {
    box-sizing: border-box;
    border: 1px dashed green;
    height: 62.5%;
    min-height: 500px;
}
.padd2 {
    height: 6%;
}
.main_content .left {
    box-sizing: border-box;
    border: 1px solid yellow;
    float: left;
    overflow: hidden;
    width: 63.5%;
}
.main_content .right {
    box-sizing: border-box;
    border: 1px solid orange;
    float: right;
    width: 35.5%;
}
.main_content .right:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.left .slogan {
    color: white;
    font-size: 28px;
    text-align: center;
}
.left .spacing2 {
    min-height: 23px;
    height: 4.6%;
}
.notch_container {
    margin: 0 auto;
    width: 430px;
    height: 171px;
}
.notch_shadow{
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    transform: translateY(-130px);
    z-index: 1;
}
.notch_shadow,
.notch_round {
    border-radius: 50%;
    box-sizing: border-box;
    height: 130px;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 130px;
}
.notch_round {
    z-index: 3;
}
.notch_round:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.notch1 {
    transform: translateX(300px);
}
.notch2 {
    transform: translateX(200px) translateY(-353px);
}
.notch3 {
    transform: translateX(100px) translateY(-706px);
}
.notch4 {
    transform: translateY(-1059px);
}
.notch4 .notch_round,
.notch4 .notch_rect {
    background-color: rgb(22, 29, 82);
}
.notch3 .notch_round,
.notch3 .notch_rect{
    background-color: rgb(63, 76, 155);
}
.notch2 .notch_round,
.notch2 .notch_rect{
    background-color: rgb(73, 104, 163);
}
.notch1 .notch_round,
.notch1 .notch_rect{
    background-color: rgb(91, 122, 189);
}
.notch_round p {
    color: white;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    width: 70px;
}
.notch_rect {
    position: relative;
    box-sizing: border-box;
    box-shadow: 4px -3px 10px 0px rgba(0, 0, 0, 0.25);
    height: 93px;
    width: 93px;
    transform: rotate(45deg) translateY(-162px) translateX(-136px) skew(8deg, 8deg);
    z-index: 2;
}
.left .spacing3 {
    height: 17%;
    min-height: 85px;
    
}
.get_it_container {
    text-align: center;
}
.get_it_container .btn {
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    height: 44px;
    margin: 0 11px;
    position: relative;
    width: 150px;
    z-index: 5;
}
.get_it_container .btn:hover {
    cursor: pointer;
}
.google_play {
    background-image: url(../assets/playstore.png);
}
.app_store {
    background-image: url(../assets/appstore.png);
}
.controls {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
}
.controls .ctrl {
    background-color: rgba(255,255,255,.37);
    border-radius: 50%;
    height: 8px;
    margin: 10px 0;
    width: 8px;
}
.controls .ctrl:hover {
    background-color: rgba(255,255,255,1);
    cursor: pointer;
}
.scrolling_frame {
    display: inline-block;
    height: 471px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    width: calc(100% - 16px);
}
.scrolling_frame .feed {
    height: 200%;
    width: 100%;
}
.feed .feed_frame {
    height: 50%;
}
.feed .feed_frame:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.feed .feed_frame img {
    vertical-align: middle;
}
@keyframes scrolling {
    0%, 8.3%, 16.6%, 24.9%, 33.3%, 41.6%, 100% {
        transform: translateY(0%);
    }
    49.9%, 58.2%, 66.5%, 75.8%, 84.1%, 92.4%  {
        transform: translateY(-50%);
    }
}
@keyframes scrolling2 {
    0%, 8.3%, 16.6%, 24.9%, 33.3%, 41.6%, 100% {
        transform: translateY(-50%);
    }
    49.9%, 58.2%, 66.5%, 75.8%, 84.1%, 92.4%  {
        transform: translateY(0%);
    }
}
@keyframes up {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}
.animate {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-fill-mode: none;
}
.animate2 {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: scrolling2;
    animation-fill-mode: none;
}
.down {
    animation-duration: 1s;
    animation-name: down;
    animation-fill-mode: forwards;
}
.up {
    animation-duration: 1s;
    animation-name: up;
    animation-fill-mode: forwards;
}
.clouds_container {
    bottom: -2px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.clouds {
    display: inline-block;
}
.cloud {
    display: inline-block;
    height: 54px;
    width: 93px;
    background-image: url(../assets/combined_shape.svg);
    z-index: 0;
}
.animated_cloud_1 {
    transform: translateY(-65vh) translateX(-30vw);
    animation-name: animation_cloud1;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
.animated_cloud_2 {
    transform: translateY(-35vh) translateX(-30vw);
    animation-name: animation_cloud2;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}
@keyframes animation_cloud1 {
    0% {
        transform: translateY(-65vh) translateX(-30vw);
    }
    100% {
        transform: translateY(-65vh) translateX(130vw);
    }
}
@keyframes animation_cloud2 {
    0% {
        transform: translateY(-35vh) translateX(-30vw);
    }
    100% {
        transform: translateY(-35vh) translateX(130vw);
    }
}
@media all and (max-width: 890px) {
    .login_container .logo {
        padding-left: 10px;
    }
}
@media all and (max-width: 730px) {
    .main_content .left {
        width: 58%
    }
    .main_content .right {
        width: 41%
    }
    .notch_container {
        width: 350px;
        height: 146px;
    }
    .notch_shadow{
        box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        transform: translateY(-110px);
        z-index: 1;
    }
    .notch_shadow,
    .notch_round {
        height: 110px;
        padding: 20px;
        width: 110px;
    }
    .notch_round {
        z-index: 3;
    }
    .notch1 {
        transform: translateX(240px);
    }
    .notch2 {
        transform: translateX(160px) translateY(-296px);
    }
    .notch3 {
        transform: translateX(80px) translateY(-592px);
    }
    .notch4 {
        transform: translateY(-888px);
    }
    .notch_round p {
        font-size: 12px;
        line-height: 16px;
        width: 60px;
    }
    .notch_rect {
        height: 76px;
        width: 76px;
        transform: rotate(45deg) translateY(-135px) translateX(-112px) skew(8deg, 8deg);
    }
}
@media all and (max-width: 660px) {
    .spacing {
        min-height: 20px;
    }
}
@media all and (max-width: 480px) {
    .wrapper_background {
        min-height: 1060px;
    }
    .wrapper {
        max-width: 480px;
    }
    .login {
        height: 7.5%;
        min-height: 80px;
    }
    .padd,
    .spacing {
        height: 15%;
        min-height: 12px;
    }
    .login_container {
        padding: 0 12px;
    }
    .login_container .logo {
        float: none;
        padding: 0;
    }
    .btns_container {
        position: absolute;
        bottom: 2%;
        left: 0;
        width: 100%;
        z-index: 20;
    }
    .punchline_container {
        padding-top: 5px;
        height: 34px;
    }
    .punchline {
        line-height: 19px;
        font-size: 16px;
    }
    .main_content {
        height: 92%;
        min-height: 980px;
    }
    .padd2 {
        height: 1.5%;
        min-height: 15px;
    }
    .main_content .left {
        float: none;
        width: 100%;
    }
    .left .slogan {
        box-sizing: border-box;
        font-size: 16px;
        height: 19px;
        padding-top: 3px;
    }
    left .spacing2 {
        height: 2%;
        min-height: 20px;
    }
    .notch_container {
        width: 350px;
        height: 146px;
    }
    .notch_shadow{
        box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        transform: translateY(-110px);
        z-index: 1;
    }
    .notch_shadow,
    .notch_round {
        height: 110px;
        padding: 20px;
        width: 110px;
    }
    .notch_round {
        z-index: 3;
    }
    .notch1 {
        transform: translateX(240px);
    }
    .notch2 {
        transform: translateX(160px) translateY(-296px);
    }
    .notch3 {
        transform: translateX(80px) translateY(-592px);
    }
    .notch4 {
        transform: translateY(-888px);
    }
    .notch_round p {
        font-size: 12px;
        line-height: 16px;
        width: 60px;
    }
    .notch_rect {
        height: 76px;
        width: 76px;
        transform: rotate(45deg) translateY(-135px) translateX(-112px) skew(8deg, 8deg);
    }
    .get_it_container {
        bottom: 20%;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .left .spacing3 {
        height: 1.5%;
        min-height: 16px;
    }
    .main_content .right {
        float: none;
        width: 100%;
    }
    .controls {
        display: none;
    }
    .animate {
        animation-name: none;
    }
    .clouds {
        display: block;
        height: 150px;
        width: 100%;
        background-position: -345px -82px;
        background-image: url(../assets/group.svg);
    }
    .get_it_container .btn {
        margin: 0 2px;
    }
    .clouds img {
        display: none;
    }
    .sign_up,
    .sign_up:hover,
    .sign_up:active {
        color:  rgb(22, 26, 74);
        margin: 0 15px;
        float: left;
    }
    .sign_in,
    .sign_in:hover,
    .sign_in:active {
        background-color: rgb(22, 26, 74);
        margin: 0 15px;
    }
}
@media all and (max-width: 380px) {
    .wrapper_background {
        min-height: 1060px;
    }
    .wrapper {
        min-width: 320px;
    }
    .login {
        height: 7.5%;
        min-height: 80px;
    }
    .padd,
    .spacing {
        height: 15%;
        min-height: 12px;
    }
    .login_container {
        padding: 0 12px;
    }
    .login_container .logo {
        float: none;
        padding: 0;
    }
    .btns_container {
        position: absolute;
        bottom: 2%;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 20;
    }
    .punchline_container {
        padding-top: 5px;
        height: 34px;
    }
    .punchline {
        line-height: 19px;
        font-size: 16px;
    }
    .main_content {
        height: 92%;
        min-height: 980px;
    }
    .padd2 {
        height: 1.5%;
        min-height: 15px;
    }
    .main_content .left {
        float: none;
        width: 100%;
    }
    .left .slogan {
        box-sizing: border-box;
        font-size: 16px;
        height: 19px;
        padding-top: 3px;
    }
    left .spacing2 {
        height: 2%;
        min-height: 20px;
    }
    .notch_container {
        height: 120px;
        width: 300px;
    }
    .notch_shadow{
        box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        transform: translateY(-90px);
        z-index: 1;
    }
    .notch_shadow, .notch_round {
        border-radius: 50%;
        height: 90px;
        padding: 0 10px;
        width: 90px;
    }
    .notch1 {
        transform: translateX(210px);
    }
    .notch2 {
        transform: translateX(140px) translateY(-245px);
    }
    .notch3 {
        transform: translateX(70px) translateY(-490px);
    }
    .notch4 {
        transform: translateY(-735px);
    }
    .notch4 .notch_round,
    .notch4 .notch_rect {
        background-color: rgb(22, 29, 82);
    }
    .notch3 .notch_round,
    .notch3 .notch_rect{
        background-color: rgb(63, 76, 155);
    }
    .notch2 .notch_round,
    .notch2 .notch_rect{
        background-color: rgb(73, 104, 163);
    }
    .notch1 .notch_round,
    .notch1 .notch_rect{
        background-color: rgb(91, 122, 189);
    }
    .notch_round p {
        font-size: 10px;
        line-height: 12px;
        width: 50px;
    }
    .notch_rect {
        box-shadow: 4px -3px 10px 0px rgba(0, 0, 0, 0.25);
        height: 65px;
        width: 65px;
        transform: rotate(45deg) translateY(-113px) translateX(-95px) skew(8deg, 8deg);
    }
    .get_it_container {
        bottom: 20%;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .left .spacing3 {
        height: 1.5%;
        min-height: 16px;
    }
    .main_content .right {
        float: none;
        width: 100%;
    }
    .controls {
        display: none;
    }
    .animate {
        animation-name: none;
    }
    .clouds {
        display: block;
        height: 150px;
        width: 100%;
        background-position: -345px -82px;
        background-image: url(../assets/group.svg);
    }
    .get_it_container .btn {
        margin: 0 2px;
    }
    .clouds img {
        display: none;
    }
    .sign_up,
    .sign_up:hover,
    .sign_up:active {
        color:  rgb(22, 26, 74);
    }
    .sign_in,
    .sign_in:hover,
    .sign_in:active {
        background-color: rgb(22, 26, 74);
    }
    .button {
        display: inline-block;
        margin: 0 7px;
        float: none;
    }
    .animated_cloud_1 {
        transform: translateY(-65vh) translateX(-80vw)
    }
    .animated_cloud_2 {
        transform: translateY(-35vh) translateX(-80vw);
        animation-name: animation_cloud2;
        animation-duration: 60s;
        animation-iteration-count: infinite;
    }
    @keyframes animation_cloud1 {
        0% {
            transform: translateY(-65vh) translateX(-80vw);
        }
        100% {
            transform: translateY(-65vh) translateX(180vw);
        }
    }
    @keyframes animation_cloud2 {
        0% {
            transform: translateY(-35vh) translateX(-80vw);
        }
        100% {
            transform: translateY(-35vh) translateX(180vw);
        }
    }
}
@media all and (max-width: 320px) {
    .wrapper_background {
        min-height: 1060px;
    }
    .wrapper {
        min-width: 320px;
    }
    .login {
        height: 7.5%;
        min-height: 80px;
    }
    .padd,
    .spacing {
        height: 15%;
        min-height: 12px;
    }
    .login_container {
        padding: 0 12px;
    }
    .login_container .logo {
        float: none;
        padding: 0;
    }
    .btns_container {
        position: absolute;
        bottom: 2%;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 20;
    }
    .punchline_container {
        padding-top: 5px;
        height: 34px;
    }
    .punchline {
        line-height: 19px;
        font-size: 16px;
    }
    .main_content {
        height: 92%;
        min-height: 980px;
    }
    .padd2 {
        height: 1.5%;
        min-height: 15px;
    }
    .main_content .left {
        float: none;
        width: 100%;
    }
    .left .slogan {
        box-sizing: border-box;
        font-size: 16px;
        height: 19px;
        padding-top: 3px;
    }
    left .spacing2 {
        height: 2%;
        min-height: 20px;
    }
    .notch_container {
        height: 120px;
        width: 300px;
    }
    .notch_shadow{
        box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        transform: translateY(-90px);
        z-index: 1;
    }
    .notch_shadow, .notch_round {
        border-radius: 50%;
        height: 90px;
        padding: 0 10px;
        width: 90px;
    }
    .notch1 {
        transform: translateX(210px);
    }
    .notch2 {
        transform: translateX(140px) translateY(-245px);
    }
    .notch3 {
        transform: translateX(70px) translateY(-490px);
    }
    .notch4 {
        transform: translateY(-735px);
    }
    .notch4 .notch_round,
    .notch4 .notch_rect {
        background-color: rgb(22, 29, 82);
    }
    .notch3 .notch_round,
    .notch3 .notch_rect{
        background-color: rgb(63, 76, 155);
    }
    .notch2 .notch_round,
    .notch2 .notch_rect{
        background-color: rgb(73, 104, 163);
    }
    .notch1 .notch_round,
    .notch1 .notch_rect{
        background-color: rgb(91, 122, 189);
    }
    .notch_round p {
        font-size: 10px;
        line-height: 12px;
        width: 50px;
    }
    .notch_rect {
        box-shadow: 4px -3px 10px 0px rgba(0, 0, 0, 0.25);
        height: 65px;
        width: 65px;
        transform: rotate(45deg) translateY(-113px) translateX(-95px) skew(8deg, 8deg);
    }
    .get_it_container {
        bottom: 20%;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .left .spacing3 {
        height: 1.5%;
        min-height: 16px;
    }
    .main_content .right {
        float: none;
        width: 100%;
    }
    .controls {
        display: none;
    }
    .animate {
        animation-name: none;
    }
    .clouds {
        display: block;
        height: 150px;
        width: 100%;
        background-position: -345px -82px;
        background-image: url(../assets/group.svg);
    }
    .get_it_container .btn {
        margin: 0 2px;
    }
    .clouds img {
        display: none;
    }
    .sign_up,
    .sign_up:hover,
    .sign_up:active {
        color:  rgb(22, 26, 74);
    }
    .sign_in,
    .sign_in:hover,
    .sign_in:active {
        background-color: rgb(22, 26, 74);
    }
    .button {
        display: inline-block;
        margin: 0 7px;
        float: none;
    }
    .animated_cloud_1 {
        transform: translateY(-65vh) translateX(-80vw)
    }
    .animated_cloud_2 {
        transform: translateY(-35vh) translateX(-80vw);
        animation-name: animation_cloud2;
        animation-duration: 60s;
        animation-iteration-count: infinite;
    }
    @keyframes animation_cloud1 {
        0% {
            transform: translateY(-65vh) translateX(-80vw);
        }
        100% {
            transform: translateY(-65vh) translateX(180vw);
        }
    }
    @keyframes animation_cloud2 {
        0% {
            transform: translateY(-35vh) translateX(-80vw);
        }
        100% {
            transform: translateY(-35vh) translateX(180vw);
        }
    }
}

