.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
.wrapper_background {
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Lato', sans-serif;
    background: rgba(195,221,253,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(195,221,253,1)), color-stop(100%, rgba(119,150,223,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    background: radial-gradient(ellipse at center, rgba(195,221,253,1) 0%, rgba(119,150,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3ddfd', endColorstr='#7796df', GradientType=1 ); 
    width: 100%;
}
.wrapper {
    border: 1px dashed orange;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 880px;
}
.login {
    box-sizing: border-box;
    height: 21.25%;
    min-height: 170px;
    padding-top: 6.5%;
}
.punchline_container {
    box-sizing: border-box;
    background-color: rgba(120, 153, 214, .18);
    height: 55px;
    margin: 0 10px;
    padding-top: 11px;
    transform: skewX(-22.5deg);
    
}
.punchline {
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-align: center;
    transform: skewX(22.5deg);
}
.btns_container {
    padding-right: 15px;
}
.btns_container .logo {
    color: white;
    float: left;
    font-size: 18px;
    font-weight: 900;
    padding-top: 11px;
}
.button {
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    float: right;
    font-size: 18px;
    height: 41px;
    margin: 0 11px;
    padding-top: 11px;
    text-align: center;
    width: 128px;
}
.button:hover,
.button:active {
    cursor: pointer
}
.sign_up {
    background-color: rgba(255, 255, 255, .16);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(89,116,167,1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(89,116,167,1);
    box-shadow: 0px 2px 4px 0px rgba(89,116,167,1);
}
.sign_up:hover {
    background-color: rgba(255, 255, 255, .26);
}
.sign_up:active {
    background-color: rgba(255, 255, 255, .36);
}
.sign_in {
    background-color: rgba(22, 26, 74, .16);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(63,86,146,1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(63,86,146,1);
    box-shadow: 0px 2px 4px 0px rgba(63,86,146,1);
}
.sign_in:hover {
    background-color: rgba(22, 26, 74, .26);
}
.sign_in:active {
    background-color: rgba(22, 26, 74, .36);
}
.spacing {
    height: 21.2%;
    min-height: 36px;
}
.main_content {
    box-sizing: border-box;
    border: 1px dashed green;
    height: 62.5%;
    min-height: 500px;
    padding-top: 6%;
}
.main_content .left {
    box-sizing: border-box;
    border: 1px solid yellow;
    float: left;
    width: 63.5%;
}
.main_content .right {
    box-sizing: border-box;
    border: 1px solid orange;
    float: right;
    width: 35.5%;
}
.main_content .right:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.left .slogan {
    color: white;
    font-size: 28px;
    text-align: center;
}
.left .spacing2 {
    min-height: 23px;
    height: 4.6%;
}
.notch_container {
    margin: 0 auto;
    width: 430px;
    height: 160px;
}
.notch_round {
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
    height: 130px;
    padding: 30px;
    text-align: center;
    width: 130px;
}
.notch_round:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.notch1 {
    transform: translateX(300px);
}
.notch2 {
    transform: translateX(200px) translateY(-130px);
}
.notch3 {
    transform: translateX(100px) translateY(-260px);
}
.notch4 {
    transform: translateY(-390px);
}
.notch4 .notch_round {
    background-color: rgb(22, 29, 82);
}
.notch3 .notch_round {
    background-color: rgb(63, 76, 155);
}
.notch2 .notch_round {
    background-color: rgb(73, 104, 163);
}
.notch1 .notch_round {
    background-color: rgb(91, 122, 189);
}
.notch_round p {
    color: white;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    width: 70px;
}
.notch_rect {
    border: 1px solid red;
    height: 50px;
    width: 50px;
    transform: rotate(45deg) skew(20deg, 20deg);
}
.left .spacing3 {
    height: 17%;
    min-height: 85px;
    
}
.get_it_container {
    text-align: center;
}
.get_it_container .btn {
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    height: 44px;
    margin: 0 11px;
    position: relative;
    width: 150px;
    z-index: 5;
}
.get_it_container .btn:hover {
    cursor: pointer;
}
.google_play {
    background-image: url(../assets/playstore.png);
}
.app_store {
    background-image: url(../assets/appstore.png);
}
.controls {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
}
.controls .ctrl {
    background-color: rgba(255,255,255,.37);
    border-radius: 50%;
    height: 8px;
    margin: 10px 0;
    width: 8px;
}
.controls .ctrl:hover {
    background-color: rgba(255,255,255,1);
    cursor: pointer;
}
.scrolling_frame {
    display: inline-block;
    height: 471px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    width: calc(100% - 16px);
}
.scrolling_frame .feed {
    height: 200%;
    width: 100%;
}
.feed .feed_frame {
    height: 50%;
}
.feed .feed_frame:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.feed .feed_frame img {
    vertical-align: middle;
}
@keyframes scrolling {
    0%, 58.2%, 66.5%, 75.8%, 84.1%, 92.4%, 100% {
        transform: translateY(0);
    }
    8.3%, 16.6%, 24.9%, 33.3%, 41.6%, 49.9% {
        transform: translateY(-50%);
    }
}
.animate {
    animation-delay: 4s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-fill-mode: none;
}
.clouds_container {
    bottom: -2px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.clouds {
    display: inline-block;
}