// Font's colors


$white: #ffffff;
$coal: #333333;
$grey: #666666;
$placeholder: #999999;
$designed: #cccccc;

// Background's colors

$raspberry: #ff4e50;
$turquoise: #1cd7ad;
$orange: #ffa507;
$blue: #4e73db;