.ideas {
    border-top: 1px solid transparent;
    text-align: center;
    .title {
        color: $coal;
        font-family: 'montserrat', "arial", sans-serif;
        font-size: 22px;
        font-weight: bold;
        margin-top: 98px;
    }
    .mosaic {
        box-sizing: border-box;
        margin-top: 36px;
        .masonry_item {
            margin: 5px;
        }
        .text_container:before {
            content:'';
            height: 100%;
            display: inline-block; 
            vertical-align: middle;
        }
        .text_container {
            background-color: darkorange;
            color: $white;
            font-family: 'montserrat', "arial", sans-serif;
            font-size: 20px;
            font-weight: bold;
            height: 310px;
            text-align: center;
            .inner_text {
                display: inline-block;
                vertical-align: middle;
                width: 98%;
            }
        }
    }
}