.partners {
    border-top: 1px solid transparent;
    box-sizing: border-box;
    text-align: center;
    .non-visible {
        display: none;
    }
    .partners__title {
        color: $coal;
        font-family: 'montserrat', 'Arial', sans-serif;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 35px;
        padding-right: 8px;
        text-align: center;
    }
    .partners-list {
        overflow: hidden;
        .partners__item {
            margin: 14px auto 26px;
            text-align: center;
            width: 220px;
            .partners__item__photo {
                background-image: url(../img/photo.png);
                background-repeat: no-repeat;
                margin: 0 auto;
                position: relative;
                border-radius: 60px;
                height: 120px;
                width: 120px;
                .partners__item__photo__icon {
                    border: 4px solid $white;
                    background-color: $raspberry;
                    background-image: url(../img/icons.png);
                    background-repeat: no-repeat;
                    background-position: -3px -4px;
                    border-radius: 20px;
                    box-sizing: border-box;
                    height: 40px;
                    position: absolute;
                    top: 85px;
                    left: 84px;
                    width: 40px;
                }
            }
            .partners__item__name {
                color: $coal;
                display: inline-block;
                font-family: "montserrat", "arial", sans-serif;
                font-size: 14px;
                font-weight: bold;
                margin-top: 21px;
                text-decoration: none;
            }
            .partners__item__quote {
                color: $grey;
                display: inline-block;
                font-family: "roboto", "arial", sans-serif;
                font-size: 14px;
                font-weight: lighter;
                line-height: 1.215;
                letter-spacing: -0.01em;
                margin-top: 14px;
                text-decoration: none;
            }
        }
        .partners__item:nth-child(2) {
            .partners__item__photo {
                background-position: -120px 0px;
                .partners__item__photo__icon {
                    background-color: $turquoise;
                    background-position: -40px -4px;
                }
            }
        }
        .partners__item:nth-child(3) {
            margin-bottom: 25px;
            .partners__item__photo {
                background-position: -240px 0px;
                .partners__item__photo__icon {
                    background-color: $orange;
                    background-position: -75px -4px;
                }
            }
        }
        .partners__item:last-child {
            .partners__item__photo {
                background-position: -360px 0px;
                .partners__item__photo__icon {
                    background-color: $blue;
                    background-position: -115px -4px;
                }
            }
        }
    }
    .partners__link {
        border: 2px solid $raspberry;
        border-radius: 20px;
        box-sizing: border-box;
        color: $raspberry;
        display: inline-block;
        font-family: "montserrat", "arial", sans-serif;
        font-weight: bold;
        font-size: 14px;
        margin-right: 5px;
        padding: 12px 1px 10px 2px;
        width: 280px;
        text-decoration: none;
    }
    .partners__link:hover {
        background-color: $raspberry; 
        color: $coal;
    }
}
@media all and (min-width: 768px) {
    .partners {
        .partners__title {
            margin-bottom: 17px;
            margin-top: 61px;
            padding-right: 6px;
        }
        .partners-list {
            .partners__item {
                float: left;
                margin: 14px 20px 42px 129px;
                text-align: center;
                width: 236px;
                .partners__item__photo {
                    .partners__item__photo__icon {
                    }
                }
                .partners__item__name {
                }
                .partners__item__quote {
                    width: 92%;
                }
            }
            .partners__item:nth-child(2) {
                margin: 14px 109px 42px 0px;
            }
            .partners__item:nth-child(3) {
                margin: 14px 20px 42px 129px;
            }
            .partners__item:last-child {
                margin: 14px 109px 42px 0px;
            }
        }
        .partners__link {
            margin-left: 2px;
            margin-top: 10px;
            padding: 12px 28px 10px 27px;
            width: 192px;
        }
    }
    .wrapper2 {
        .partners {
            .partners-list {
                .second-partner-ie8 {
                    margin: 14px 109px 42px 0px;
                }
                .third-partner-ie8 {
                    margin: 14px 20px 42px 129px;
                }
                .fourth-partner-ie8 {
                    margin: 14px 109px 42px 0px;
                }
            }
        }
    }
}
@media all and (min-width: 940px) {
    .partners {
        .partners__title {
            margin-bottom: 32px;
            margin-top: 70px;
            padding-right: 3px;
        }
        .partners-list {
            .partners__item {
                margin: 0 20px 0 0;
                width: 220px;
                .partners__item__quote {
                    width: 100%;
                }
            }
            .partners__item:nth-child(2) {
                margin-right: 20px;
            }
            .partners__item:nth-child(3) {
                margin-left: 0px;
            }
            .partners__item:last-child {
                margin-right: 0px;
            }
        }
        .partners__link {
            margin-left: 5px;
        }
    }
    .wrapper2 {
        .partners {
            .partners-list {
                .second-partner-ie8 {
                    margin: 0 20px 0 0;
                }
                .third-partner-ie8 {
                    margin: 0 20px 25px 0;
                }
                .fourth-partner-ie8 {
                    margin: 0;
                }
            }
        }
    }
    
}