html {
  font-size: 16px;
}
body {
  font-family: 'Rubik', 'Arial', sans-serif;
  background: rgba(255,255,255,1);
  background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 );
}
.pseudo_selector_container {
  position: relative;
  .pseudo_selector__head {
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding: 1.25rem 1rem;
    box-sizing: border-box;
    cursor: pointer;
    p {
      position: relative;
    }
  }
  .pseudo_selector__head:after {
    width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid $orange;
    content: '';
    display: block;
    position: absolute;
    right: 40px;
    top: 50%;
    transform-origin: 50% 0%;
    transform: rotate(0) translateY(-50%);
    transition: transform 0.3s ease;
  }
  .pseudo_selector__head.active {
    pointer-events: none;
  }
  .pseudo_selector__head.active:after {
    transform: rotate(-180deg) translateY(-50%);
  }
  .pseudo_selector__body {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    position: absolute;
    z-index: 10;
    width: 100%;
    .item {
      text-align: center;
      padding: 1rem;
      padding-bottom: calc(1rem + 2px);
      cursor: pointer;
      position: relative;
      z-index: 2;
    }
    .item:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $background-black;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    .item:after {
      display: block;
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: rgba(0,0,0,0.12);
      z-index: 3;
    }
    .item:hover:before {
      opacity: 0.10;
    }
    .item.selected {
      color: $orange;
    }
  }
}
@media all and (min-width: 760px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1360px;
  }
}