<header>
    <div class="header__background">
       <div class="wrapper">
           <div class="header__first_line clearfix">
             <div class="header__first_line__logo" id="point1">smart</div>
             <div class="header__first_line__menu_icon"></div>
           </div>
           <div class="header__motto">
               <h1><span>Smart </span>Agency Landign Page</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates doloremque rerum aspernatur dolorum at!</p>
           </div>
           <div class="menu_wrapper">
               <ul class="side_menu">
                   <li class="side_menu__item"><a href="#point1">Menu item 1</a></li>
                   <li class="side_menu__item"><a href="#point2">Menu item 2</a></li>
                   <li class="side_menu__item"><a href="#point3">Menu item 3</a></li>
                   <li class="side_menu__item"><a href="#point4">Menu item 4</a></li>
                   <li class="side_menu__item"><a href="#point5">Menu item 5</a></li>
                   <li class="side_menu__item"><a href="#point6">Menu item 5</a></li>
                   <li class="side_menu__item"><a href="#point7">Menu item 7</a></li>
                   <li class="side_menu__item close_menu"><p>CLOSE</p></li>
               </ul>
           </div>
           <form name="message" action="">
               <h2><span>send</span> a message</h2>
               <input type="text" class="name" placeholder="Your Name">
               <input type="text" class="email" placeholder="Your Email">
               <textarea placeholder="Your Message"></textarea>
               <input type="submit" value="Send Message">
           </form>
       </div>
    </div>
</header>