<section class="provided_services">
    <div class="wrapper">
        <h1><span>services</span> we provide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
        <div class="services clearfix">
            <div class="services__selector">
                <div class="services__selector__item"></div>
                <div class="services__selector__item"></div>
                <div class="services__selector__item"></div>
                <div class="services__selector__item"></div>
            </div>
            <div class="services__selector__container">
                <div class="services__selector__container__item show1">
                    <div class="services__selector__container__item__info">
                        <h2>Modern App Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.<br><br>vitae eveniet quam rem unde facilis.</p>
                        <div class="services__selector__container__item__info__button"><p>know more</p></div>
                    </div>
                    <div class="services__selector__container__item__image"></div>
                </div>
                <div class="services__selector__container__item show2 hidden">
                    <div class="services__selector__container__item__info">
                        <h2>Modern App Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.<br><br>vitae eveniet quam rem unde facilis.</p>
                        <div class="services__selector__container__item__info__button"><p>know more</p></div>
                    </div>
                    <div class="services__selector__container__item__image"></div>
                </div>
                <div class="services__selector__container__item show3 hidden">
                    <div class="services__selector__container__item__info">
                        <h2>Modern App Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.<br><br>vitae eveniet quam rem unde facilis.</p>
                        <div class="services__selector__container__item__info__button"><p>know more</p></div>
                    </div>
                    <div class="services__selector__container__item__image"></div>
                </div>
                <div class="services__selector__container__item show4 hidden">
                    <div class="services__selector__container__item__info">
                        <h2>Modern App Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.<br><br>vitae eveniet quam rem unde facilis.</p>
                        <div class="services__selector__container__item__info__button"><p>know more</p></div>
                    </div>
                    <div class="services__selector__container__item__image"></div>
                </div>
            </div>
        </div>
    </div>
</section>