<section class="logos">
    <div class="wrapper">
        <ul class="logos clearfix">
            <li class="linkedin"><a href="#" class="logos__item"></a></li>
            <li class="dribble"><a href="#" class="logos__iteme"></a></li>
            <li class="envato"><a href="#" class="logos__item"></a></li>
            <li class="linkedin"><a href="#" class="logos__item"></a></li>
            <li class="dribble"><a href="#" class="logos__item"></a></li>
            <li class="envato"><a href="#" class="logos__item"></a></li>
        </ul>
    </div>
</section>