<section class="featured_works">
    <div class="wrapper">
        <h1 id="point3"><span>featured</span> works</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
<!--        <div class="masonry"></div>-->
        <div class="grid">
            <img src="img/image1.jpg" alt="cover" class="grid-item">
            <img src="img/image2.jpg" alt="cover" class="grid-item">
            <img src="img/image3.jpg" alt="cover" class="grid-item">
            <img src="img/image4.jpg" alt="cover" class="grid-item">
            <img src="img/image5.jpg" alt="cover" class="grid-item">
            <img src="img/image6.jpg" alt="cover" class="grid-item">
            <img src="img/image7.jpg" alt="cover" class="grid-item">
            <img src="img/image8.jpg" alt="cover" class="grid-item">
            <img src="img/image9.jpg" alt="cover" class="grid-item">
            <img src="img/image10.jpg" alt="cover" class="grid-item">
            <img src="img/image11.jpg" alt="cover" class="grid-item">
            <img src="img/image12.jpg" alt="cover" class="grid-item">
        </div>
    </div>
</section>