<section>
    <div class="wrapper">
        <h1><span>working</span> process</h1>
        <p>Lorem ipsum dolor sit amet consectet ur adipiscing elit  Vestibulum bibend um vestibulum.</p>
        <div class="koi_line clearfix">
            <div class="koi_line__item">
                <div class="koi_line__item__block">
                    <div class="koi_line__item__block__ico"></div>
                    <h3>koc koi tomi</h3>
                    <p>Lorem ipsum is dummy<br>lorem very dumy</p>
                </div>
                <div class="koi_line__item__button"><p>know more</p></div>
            </div>
            <div class="koi_line__item">
                <div class="koi_line__item__block">
                    <div class="koi_line__item__block__ico"></div>
                    <h3>koimona set</h3>
                    <p>Lorem ipsum is dummy you<br>lorem very dumyL is </p>
                </div>
                <div class="koi_line__item__button"><p>know more</p></div>
            </div>
            <div class="koi_line__item">
                <div class="koi_line__item__block">
                    <div class="koi_line__item__block__ico"></div>
                    <h3>setting koire</h3>
                    <p>Lorem ipsum is dummy<br>lorem very yLorem ipsus </p>
                </div>
                <div class="koi_line__item__button"><p>know more</p></div>
            </div>
            <div class="koi_line__item">
                <div class="koi_line__item__block">
                    <div class="koi_line__item__block__ico"></div>
                    <h3>ko image lara</h3>
                    <p>Lorem ipsum is dummy ry<br>dumyLorem ipsum is </p>
                </div>
                <div class="koi_line__item__button"><p>know more</p></div>
            </div>                                    
        </div>
    </div>
</section>