<section class="team">
    <div class="wrapper">
        <h1 id="point5"><span>team</span> chinen & skills</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
        <div class="our_team clearfix">
            <div class="our_team__member">
                <div class="our_team__member__photo">
                    <div class="our_team__member__skills">
                        <div class="our_team__member__skills__graphs">
                            <p class="skill">UI/UX Design</p>
                            <p class="skill">english</p>
                            <p class="skill">communication</p>
                        </div>
                    </div>
                </div>
                <div class="our_team__member__name">
                    <h2 class="name">bedi manos</h2>
                    <p class="profession">UI/UX parena</p>
                    <div class="contact clearfix hidden">
                        <div class="icon"></div>
                        <div class="icon"></div>
                        <div class="icon"></div>
                    </div>
                </div>
            </div>
            <div class="our_team__member">
                <div class="our_team__member__photo">
                    <div class="our_team__member__skills">
                        <div class="our_team__member__skills__graphs">
                            <p class="skill">UI/UX Design</p>
                            <p class="skill">english</p>
                            <p class="skill">communication</p>
                        </div>
                    </div>
                </div>
                <div class="our_team__member__name">
                    <h2 class="name">al rayhan</h2>
                    <p class="profession">UI/UX designer</p>
                    <div class="contact clearfix hidden">
                        <div class="icon"></div>
                        <div class="icon"></div>
                        <div class="icon"></div>
                    </div>
                </div>
            </div>
            <div class="our_team__member">
                <div class="our_team__member__photo">
                    <div class="our_team__member__skills">
                        <div class="our_team__member__skills__graphs">
                            <p class="skill">UI/UX Design</p>
                            <p class="skill">english</p>
                            <p class="skill">communication</p>
                        </div>
                    </div>
                </div>
                <div class="our_team__member__name">
                    <h2 class="name">ali sayed</h2>
                    <p class="profession">UI/UX designer</p>
                    <div class="contact clearfix hidden">
                        <div class="icon"></div>
                        <div class="icon"></div>
                        <div class="icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>