<section class="clients">
    <div class="wrapper">
        <h1><span>clients</span> said</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.</p>
        <div class="slider clearfix">
           <div class="slide clearfix">
               <div class="current_client">
                   <div class="current_client__quote">“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</div>
                   <div class="current_client__rate"></div>
                   <div class="current_client__name"><span>kita say,</span> HK director</div>
                   <div class="current_client__photo"></div>
               </div>
               <div class="current_client">
                   <div class="current_client__quote">“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</div>
                   <div class="current_client__rate"></div>
                   <div class="current_client__name"><span>al rayhan,</span> UX director</div>
                   <div class="current_client__photo"></div>
               </div>
           </div>
           <div class="slide clearfix">
               <div class="current_client">
                   <div class="current_client__quote">“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</div>
                   <div class="current_client__rate"></div>
                   <div class="current_client__name"><span>kita say,</span> HK director</div>
                   <div class="current_client__photo"></div>
               </div>
               <div class="current_client">
                   <div class="current_client__quote">“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</div>
                   <div class="current_client__rate"></div>
                   <div class="current_client__name"><span>al rayhan,</span> UX director</div>
                   <div class="current_client__photo"></div>
               </div>
           </div>
           <div class="slide clearfix">
               <div class="current_client">
                   <div class="current_client__quote">“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</div>
                   <div class="current_client__rate"></div>
                   <div class="current_client__name"><span>kita say,</span> HK director</div>
                   <div class="current_client__photo"></div>
               </div>
               <div class="current_client">
                   <div class="current_client__quote">“This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”</div>
                   <div class="current_client__rate"></div>
                   <div class="current_client__name"><span>al rayhan,</span> UX director</div>
                   <div class="current_client__photo"></div>
               </div>
           </div>
        </div>
    </div>
</section>