section.banner {
  background: rgba(169,3,41,1);
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
    h1 {
        color: white;
        font-weight: bold;
        font-size: 18px;
        overflow: hidden;
        height: 26px;
        display: flex;
        justify-content: center;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        .static {
            height: 26px;
            display: inline-flex;
            align-items: center;
            width: 146px;
        }
        .dynamic {
            height: 26px;
            position: relative;
            display: inline-flex;
            align-items: center;
            width: 115px;
            margin-left: 3px;
            ul {
                position: absolute;
                top: 0;
                left: 0;
                animation: animate 7s ease forwards infinite;
                li { 
                    height: 26px;
                    display: flex;
                    align-items: center;
                }
            }
          ul:hover {
            animation-play-state: paused;
          }
        }
    }
}
@media all and (min-width: 360px) {
  section.banner {
    h1 {
      font-size: 20px;
      .static {
        width: 160px;
      }
      .dynamic {
        width: 125px;
      }
    }
  }
}
@keyframes animate {
    0% {
        transform: translateY(0%);
    }
    12.5% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-20%);
    }
    37.5% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-40%);
    }
    62.5% {
        transform: translateY(-40%);
    }
    75% {
        transform: translateY(-60%);
    }
    87.5% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-80%);
    }
}