.our_advantages {
    background-color: $grey;
    border-bottom: 2px solid $black;
    .advantages_container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 10px 0;
    }
    .advanages_container__item {
        background-color: $black;
        margin: 5px;
        padding: 5px;
        width: 24%;
        box-sizing: border-box;
        min-width: 300px;
        .advanages_container__item__image {
            padding-top: 100%;
            background-color: bisque;
        }
        .advanages_container__item__heading {
            color: $white;
            text-align: center;
            text-transform: uppercase;
            padding: 5px 0;
        }
        p {
            color: $white;
            padding: 5px;
        }
    }
}