.requirements {
    background-color: $black;
    border-bottom: 1px solid transparent;
    .heading {
        color: $white;
    }
    p {
        color: $white;
    }
    .button_container {
        margin: 20px 0;
    }
    .button_gold a:hover {
        background-color: $white;
        color: $black;
    }
}