.requirements {
    background-color: $white;
    border-bottom: 1px solid transparent;
    padding: 10px;
    .heading {
        color: $black;
        span {
            color: $gold;
        }
    }
    p {
        color: $black;
        max-width: 800px;
        margin: 0 auto;
    }
    .button_container {
        margin: 20px 0;
    }
    .button_gold a:hover {
        background-color: $black;
        color: $white;
    }
    ul {
        list-style: disc outside;
        padding-left: 15px;
        max-width: 800px;
        margin: 0 auto;
        li {
            color: $gold;
            p {
                padding: 5px 0;
                text-indent: 0;
                max-width: none;
            }
        }
    }
}