.slider {
    padding: 0;
    position: relative;
    z-index: 100;
    .slider_container {
        width: 100%;
        position: relative;
        margin: 0 auto;
        .slide {
            display: flex;
            height: 400px;
            background-size: cover;
            text-align: center;
            justify-content: center;
            align-items: flex-end;
            .info_block {
                margin-bottom: 20px;
            }
            p {
                font-size: 20px;
                color: $white;
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
                margin-bottom: 5px;
            }
        }
        .slide__1 {
            background-image: url(../assets/img/odessa-1.jpg);
        }
        .slide__2 {
            background-image: url(../assets/img/odessa-2.jpg);
        }
        .slide__3 {
            background-image: url(../assets/img/odessa-3.jpg);
        }
        .slide__4 {
            background-image: url(../assets/img/odessa-4.jpg);
        }
        .slide__5 {
            background-image: url(../assets/img/odessa-5.jpg);
        }
    }
}
@media all and (min-width: 768px) {
    .slider {
        .slider_container {
            .slide {
                height: auto;
                padding-top: calc(0.5 * 100vw);
                p {
                    font-size: 2rem;
                }
            }
        }
    }
}
@media all and (min-width: 992px) {
    .slider {
        .slider_container {
            .slide {
                height: auto;
                padding-top: calc(0.3 * 100vw);
                p {
                    font-size: 2.4rem;
                }
            }
        }
    }
}
