// Font's colors

//$white: #ffffff;
$black: #000000;
$coral: #fc6744;
$grey: #626262;
$lagoon: #817eff;
$pink: #f74770;
$blue: #4eb2f7;
$violet: #c049f8;
//$placeholder: #999999;
//$designed: #cccccc;

// Background's colors
$white: #ffffff;
$headerwhite: #f5f5f5;
//$turquoise: #1cd7ad;
//$orange: #ffa507;
//$blue: #4e73db;