footer {
    background-color: #f7f7f7;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    .wrapper {
        .contact_us {
            background-color: $white;
            border: 1px solid rgba(1,2,2,0.07);
            border-radius: 26px;
            margin: 42px auto 20px;
            width: 238px;
            p {
                color: $black;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 0.025em;
                margin: 0;
                padding: 15px 0 15px;
                text-align: center;
                text-transform: capitalize;
                opacity: 1;
                width: 100%;
            }
        }
        .contact_us:hover {
            cursor: pointer;
            -webkit-box-shadow: 4px 11px 20px 0px rgba(20,20,21,0.07);
            -moz-box-shadow: 4px 11px 20px 0px rgba(20,20,21,0.07);
            box-shadow: 4px 11px 20px 0px rgba(20,20,21,0.07);
        }
    }
    div.clearfix {
        margin: 41px auto 45px;
        width: 537px;
        .social {
            float: left;
            li {
                float: left;
                height: 52px;
                margin: 8px;
                a {
                    background-color: #d3d3d3;
                    background-image: url(../img/social.png);
                    background-repeat: no-repeat;
                    background-position: 20px 16px;
                    border-radius: 26px;
                    display: block;
                    height: 100%;
                    width: 52px;
                }
                a:hover {
                    background-color: #ff6e47;
                }
            }
            li:nth-child(2) {
                a {
                   background-position: -48px 16px; 
                }
            }
            li:nth-child(3) {
                a {
                   background-position: -116px 16px; 
                }
            }
            li:nth-child(4) {
                a {
                   background-position: -184px 16px; 
                }
            }
        }
        p {
            color: #040404;
            float: left;
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            line-height: 46px;
            margin-left: 18px;
            opacity: 0.6;
            padding-top: 12px;
        }
    }
}
@media screen and (max-width: 1169px) {
    footer {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        .wrapper {
            min-width: 738px;
            div.clearfix {
                margin: 20px auto 20px;
                width: 100%;
                .social {
                    float: none;
                    margin: 0 auto;
                    width: 272px;
                }
                p {
                    float: none;
                    margin: 0 auto;
                    padding: 0;
                    width: 245px;
                }
            }
        }
    }   
}